.drop{
    position: relative;

    overflow: hidden;

    max-width: 800px;
    width: 100%;
    min-height: 30px;
    
    background-color: $bgCard;

    text-align: center;

    &__content {
        position: relative;
        z-index: 1;

        transition: all 0.3s;
    }

    &.show{
        
        .drop__label::before{
            transform: rotate(180deg);
        }
        
    }

    &__label{ 
        padding: 30px 40px;
        position: relative;
        z-index: 2;

        width: 100%;

        display: flex;
        justify-content: space-between;

        user-select: none;

        background-color: $bgCard;

        text-align: start;
        
        &:hover{
            cursor: pointer;
        }

        &::before{
            content: "";
            position: absolute;
            top: 50%;
            right: 20px;
            margin: -5px 0 0 -5px;
            
            transition: all 0.2s;

            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0px 10px;
            border-color: $accent transparent transparent transparent;

        }

        @media (max-width: $laptop){
            font-size: 15px;
        }

        @media (max-width: $tablet){
            flex-direction: column;
        }
        
    }

    &__label-item-text{
        font-weight: 700;
    }

    &__label-item {

        &_mr_40{
            margin-right: 40px;

            @media (max-width: $tablet){
                margin-right: 0;
            }
        }

        @media (max-width: $tablet){
            $gap: 20px;
            
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: $gap;
            
            > * {
                flex: 1 1 calc((100% / 2) - ($gap*2));
            }
        }
    }

    &__item-block{
        display: flex;
        flex-wrap: wrap;
        padding: 40px;

        @media (max-width: $mobileL){
            padding: 20px;
        }
    }
    &__item-block-item{
        &:not(:last-child){
            margin-right: 70px;
        }
    }
    &__item-block-title {
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 115%;
        text-align: start;

        margin-bottom: 22px;

        width: 100%;

        @media (max-width: 539px){
            font-size: 20px;
        }
    }

    &__item-block-group{
        color: $grey2;
        text-align: start;

        margin-bottom: 28px;
    }
    &__item-block-group-text{
        color: $dark;
        font-weight: 600;
        font-size: 17px;
        line-height: 150%;

        @media (max-width: 539px){
            font-size: 15px;
        }
    }

    .dec-line{
        position: relative;
        top: 5px;
    }
}


