$black: #050402;
$dark: #3E424B;
$accent: #BB8C5F;
$background: #EEEEEE;
$bgCard: #F5F5F5;
$darkOrange: #524336;
$white: #FAF6F2;
$grey: #D0D0D0;
$grey2: #636B78;

$desktop: 1295px;
$laptop: 1023px;
$tablet: 767px;
$mobileL: 424px;
$mobileM: 374px;
$mobileS: 320px;