.product-description
    .product-description__item
        .product-description__title Описание
        .product-description__text
            p.product-description__par Viper - машинка собрана на мощном моторе, рама данной модели сделана из прочного и лёгкого алюминиевого сплава. В связи с этим вес данной машины всего 120g.
            p.product-description__par Данная модель оснащена регулируемым эксцентриком. Для регулировки нужного вам хода иглы просто перемещайте ваш держатель в зажиме, вперёд или назад. Так же эксцентрик спроектирован так, что на машине отсутствует центробежная тяга, в следствии чего отсутствует вибрация в процессе работы. Под крепление бандажной резинки предусмотрен небольшой и удобный штифт снизу.
            p.product-description__par Диаметр зажимного болта сделан больше чем на аналогах — так что держатель фиксируется без проблем и лишних усилий. Данная модель без труда толкает любые иглы и картриджи.
            p.product-description__par Все необходимые рекомендации предусмотрены на прилагаемой к машинке инструкции, вложенной в коробку с товаром.
            p.product-description__par Машинка подходит как для тату, так и для татуажа.
    .product-description__item
        .product-description__title Характеристики
        table.product-description__table 
            thead
                tr
                    th Ход иглы
                    th Рабочий вольтаж
                    th Разъём
                    th Производитель
                    th Тип
                    th Назначение
            tbody
                tr
                    td Универсальная
                tr
                    td До 12 V
                tr
                    td RCA
                tr
                    td Foxxx Irons (Россия)
                tr
                    td Роторная
                tr
                    td Универсальная
    .product-description__item
        .product-description__title Доставка и оплата
        .product-description__text
            p.product-description__par Viper - машинка собрана на мощном моторе, рама данной модели сделана из прочного и лёгкого алюминиевого сплава. В связи с этим вес данной машины всего 120g.
            p.product-description__par Данная модель оснащена регулируемым эксцентриком. Для регулировки нужного вам хода иглы просто перемещайте ваш держатель в зажиме, вперёд или назад. Так же эксцентрик спроектирован так, что на машине отсутствует центробежная тяга, в следствии чего отсутствует вибрация в процессе работы. Под крепление бандажной резинки предусмотрен небольшой и удобный штифт снизу.
            p.product-description__par Диаметр зажимного болта сделан больше чем на аналогах — так что держатель фиксируется без проблем и лишних усилий. Данная модель без труда толкает любые иглы и картриджи.
            p.product-description__par Все необходимые рекомендации предусмотрены на прилагаемой к машинке инструкции, вложенной в коробку с товаром.
            p.product-description__par Машинка подходит как для тату, так и для татуажа.



































