.catalog-page{
    padding-bottom: 178px;

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title{
        margin-bottom: 30px;   
    }

    &__categories{
        margin-bottom: 40px;

        display: flex;
        gap: 20px;
    }
    &__categories-btn{

        min-width: auto;
        padding: 14px 24px;
        background-color: $bgCard;
        font-size: 20px;
        line-height: 100%;
        width: auto;
        color: $accent;

        border: 1px solid $accent;
    }

    &__btn{
        
        align-self: center;
    }

    &__filter{
        @media (max-width: 1200px){
            display: none;
        }
    }
    &__filter-btn{
        display: none;

        font-weight: 600;
        font-size: 25px;
        line-height: 140%;

        position: relative;

        padding-left: 38px;

        @media (max-width: 1200px){
            display: inline-flex;
            width: fit-content;

            &:hover{
                cursor: pointer;
                
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 28px;
            height: 28px;
            background-image: url('/img/svg/filter-btn.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__filter-mobile-title{
        font-weight: 600;
        font-size: 25px;
        line-height: 140%;
    }
    &__filter-mobile-close-btn{
       position: absolute;
       top: 30px;
       right: 20px;

       transform: rotate(45deg);

       &:hover{
        cursor: pointer;
       }

       &::before, &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 10px;
            height: 1px;
            background-color: $dark;
       }
       &::after {
        transform: rotate(90deg);
   }

    }
    &__filter-mobile{

        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;

        display: none;
        width: 100%;
        height: 100%;

        background-color: rgba( #000000, 0.8);

        @media (max-width: 1200px){
            
        }

        &.active{
            display: block;
        }

        &-wrapper{
            display: flex;
            flex-direction: column;
            gap: 20px;

            padding: 40px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 200;
            background-color: $background;
        }
    
    }
}


.filter{
    padding-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: space-between;

    &__label{
        position: relative;
        color: $grey2;
        display: flex;
        align-items: center;
        gap: 20px;

        &:hover{
            cursor: pointer;
            
        }
    }

    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__select{
        width: 186px;
        height: 40px;
        background-color: $bgCard;

        &:hover{
            cursor: pointer;
        }
    }

    &__input{
        text-align: center;
        width: 83px;
        height: 40px;
        border: 1px solid $grey2;
        background-color: $background;

        &[type="checkbox"]{
            width: 35px;
            height: 20px;
        }

        &:hover{
            cursor: pointer;
        }
    }

    &__dec{
        width: 10px;
        height: 1px;
        position: absolute;
        left: 147px;
        background-color: $dark;
    }



}

.filter-checkbox {

    font-size: 17px;
    padding: 0 0 0 70px;
    position: relative;
    cursor: pointer;

    &.active::before{
        background-color: $accent;

        transition: left 0.3s, background-color 0s 0.2s;
    }
    &.active::after{
        left: 18px;

        transition: left 0.3s, background-color 0s 0.2s;
    }

    &::before {
        content: "";

        width: 35px;
        height: 20px;
        background-color: $darkOrange;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) ;
        
        transition: left 0.3s, background-color 0s;
    }

    &::after {
        content: "";

        position: absolute;
        width: 15px;
        height: 15px;
        left: 2px;
        top: 2px;
        background-color: $bgCard;

        transition: left 0.3s, background-color 0s;
    }

    input{
        display: none;

        position: absolute;
        top: -5px;
        left: 0;

        width: 30px;
        height: 30px;
        background-color: #bfc0c4;
        border-radius: 50%;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    }
}

.choices{
    z-index: -1;
    width: 186px;

}
.choices.is-open{
    z-index: 10;
}
.choices *{
    border: 0 !important;
}
.choices__list--dropdown{
}

.js-choice{
    
    &:focus-visible{
        outline-color: $accent;
    }
}
.choices__inner{
    padding: 12px 20px !important;
    background: $background !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 150% !important;

    background-color: $bgCard !important;
}
.choices__item{
    background: $background !important;
    text-transform: capitalize;
    background-color: $bgCard !important;

    border: 0 !important;
}

.is-highlighted{
    background-color: #fff !important;
}
.choices{

    &::after {
        
    }

    @media (max-width: $laptop){
        margin-bottom: 0 !important;
    }
}

@media (min-width: 640px){
    .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
        padding-right: 5px !important; 
    }
}