section.contacts
    .container
        h2.title.contacts__title Контакты
        h3.contacts__subtitle Офис компании
    .container.container_tab-off
        .contacts__grid
            .contacts__content
                .contacts__block.contacts__block_between
                    .contacts__block-inner-left
                        .contacts__number 8(800)600-61-91
                        .contacts__schedule
                            p Понедельник – пятница: с 07:00 до 15:00 (МСК)
                            p Звонок бесплатный!
                    .contacts__block-inner-right
                        ul.contacts__social
                            li 
                                a(href="#") Одноклассники
                            li 
                                a(href="#") Instagram
                            li 
                                a(href="#") Vkontakte
                            li 
                                a(href="#") YouTube
                .contacts__block.contacts__block_column
                    p
                        span.contacts__messanger Telegram: 
                        span.contacts__messanger-link tattoo28_bot
                    p
                        span.contacts__messanger Skype: 
                        span.contacts__messanger-link tattoo_28opt.ru
                .contacts__block
                    p.contacts__text.
                        Ваши заказы, звонки и обращения обрабатываются в рабочее время. Если Вы обратитесь к нам в иное время - мы свяжемся с Вами на следующий день. Мы обращаем внимание, в каком часовом поясе Вы находитесь, и не звоним в неудобное для Вас время.
                .contacts__block.contacts__block_column
                    p.contacts__p-bold.
                        Пункт выдачи в г. Благовещенске, Калинина 107-202, стоимость доставки 300 руб., при оформлении заказа до 15.00 доставка в день заказа.
                    p.contacts__point ООО «Посылка»
                    p.contacts__point ОГРН: 1192036006645

            .contacts__person-card-wrapper
                include person-card







