section.managers
    .container
        .managers__title Менеджеры
    .container-mob-off
        .managers__content
            .managers__grid
                .manager-card
                    .manager-card__main
                        img.manager-card__image(src="img/contacts/ava_2.jpg", alt="")
                        .manager-card__block 

                            .manager-card__info
                                a(href="tel:89638050301").contact-phone.contact-phone_black.manager-card__phone 8(963)805-03-01
                                .manager-card__social
                                    a.manager-card__social-link(href="#") Viber
                                    a.manager-card__social-link(href="#") Whats App
                                    a.manager-card__social-link(href="#") Telegram
                                a(href="mailto:Mr.Driskell@mail.ru").manager-card__mail.contact-mail.contact-mail_black a.vesennaya@28opt.ru
                                
                    .manager-card__bottom
                        .manager-card__name Анна
                        .status.status_active В сети
                .manager-card
                    .manager-card__main
                        img.manager-card__image(src="img/contacts/ava_3.jpg", alt="")
                        .manager-card__block 
                            .manager-card__info
                                a(href="tel:89098162300").contact-phone.contact-phone_black.manager-card__phone 8(909)816-23-00
                                .manager-card__social
                                    a.manager-card__social-link(href="#") Viber
                                    a.manager-card__social-link(href="#") Whats App
                                    a.manager-card__social-link(href="#") Telegram
                                a(href="mailto:Mr.Driskell@mail.ru").manager-card__mail.contact-mail.contact-mail_black valeriya@28opt.ru
                    .manager-card__bottom
                        .manager-card__name Валерия
                        .status Не в сети
                .manager-card
                    .manager-card__main
                        img.manager-card__image(src="img/contacts/ava_4.jpg", alt="")
                        .manager-card__block 
                            .manager-card__info
                                a(href="tel:89098161800").contact-phone.contact-phone_black.manager-card__phone 8(909)816-18-00
                                .manager-card__social
                                    a.manager-card__social-link(href="#") Viber
                                    a.manager-card__social-link(href="#") Whats App
                                    a.manager-card__social-link(href="#") Telegram
                                a(href="mailto:Mr.Driskell@mail.ru").manager-card__mail.contact-mail.contact-mail_black elizaveta@28opt.ru
                    .manager-card__bottom
                        .manager-card__name Елизавета
                        .status.status_active В сети
                .manager-card
                    .manager-card__main
                        img.manager-card__image(src="img/contacts/ava_5.jpg", alt="")
                        .manager-card__block 
                            .manager-card__info
                                a(href="tel:89098161900").contact-phone.contact-phone_black.manager-card__phone 8(909)816-19-00
                                .manager-card__social
                                    a.manager-card__social-link(href="#") Viber
                                    a.manager-card__social-link(href="#") Whats App
                                    a.manager-card__social-link(href="#") Telegram
                                a(href="mailto:Mr.Driskell@mail.ru").manager-card__mail.contact-mail.contact-mail_black e.bubnova@28opt.ru
                    .manager-card__bottom
                        .manager-card__name Екатерина
                        .status.status_active В сети
