

.form{
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 23px;

    &__row{
        display: flex;
        gap: 24px;
        justify-content: space-between;
        align-items: flex-end;

        @media (max-width: 539px){
            flex-wrap: wrap;
        }

        &_wrap{
            flex-wrap: wrap;
        }
    }

    &__label{
        width: 100%;
        
        display: flex;
        flex-direction: column;
        gap: 10px;


        &_tablet_100{
            @media (max-width: $tablet){
                width: 100%;
            }
        }
        &_tablet_50{
            @media (max-width: $tablet){
                width: 50%;
            }
        }

        &_laptop_50{
            @media (max-width: $laptop){
                width: 47%;
            }
        }
        &_mob_100{
            @media (max-width: $mobileL){
                width: 100%;
            }
        }
    }

    &__input, &__textarea{
        padding: 12px 25px;
        background-color: $bgCard;
        color: $black;
        line-height: 150%;
        font-size: 17px;
        width: 100%;

        flex-grow: 1;

        @media (max-width: 539px){
            width: 100%;
        }

        &::placeholder{
            color: $grey;

        }

        &_width_100{
            width: 100%;
        }



    }

    &__textarea{
        margin-right: 48px;
        height: 150px;
        resize: none;

        @media (max-width: 539px){
            margin-right: 0;
        }
    }


    &_search{
        
        flex-grow: 1;

        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 8px;
            left: 16px;
            width: 28px;
            height: 28px;
            background-image: url('../img/svg/icons/search.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .form__input, .form__textarea{
            padding: 10px;
            padding-left: 54px;
            font-size: 15px;

            background: transparent;
            color: #fff;

            border: $darkOrange 1px solid;

            &::placeholder{
                color: $grey2;
                font-size: 15px;
            }
        }



/*         @media (max-width: 630px){
            display: none;
        } */
    }
    &_search-mobile{
        padding-bottom: 40px;
        margin-bottom: 40px;

        //border-bottom: $darkOrange 1px solid;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: -25px;
            width: calc(100% + 50px);
            height: 1px;
            background-color: $darkOrange;
        }
    }
}