.products{
    padding-top: 120px;
    padding-bottom: 120px;

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__tabs{

        .tabs__button{
            background-color: transparent;
            color: $dark;
            font-weight: 500;
            font-size: 30px;
            line-height: 115%;

            &_current{
                color: $accent;
                border-bottom: 2px solid $accent;
            }
        }
    }

    &__grid{
        padding-top: 37px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 15px;

        margin-bottom: 50px;
        
        > * {
            grid-column: span 3;
        }
        
        @media (max-width: $tablet){
        
            > * {
                grid-column: span 6;
            }
        }
        @media (max-width: $mobileL){
        
            > * {
                grid-column: span 12;
            }
        }
    }
}

.product-card{
    background-color: $bgCard;
    color: $dark;
    line-height: 140%;

    display: flex;
    flex-direction: column;

    position: relative;
    
    &__wrapper{
        overflow: hidden;
    }

    &:hover{
        cursor: pointer;
    }

    &__content{
        padding: 11px 30px 30px;
        position: relative;
    }

    &__name{
        max-width: 230px;
        margin-bottom: 10px;
    }

    &__price{

        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        color: $accent;
    }

    &__wrapper {
        z-index: 2;
        
     }

    &:hover &__wrapper {
        position: absolute;
        top: 0;
        left: 0;

        box-shadow: 0px 0px 20px 0px #cecece;
        
     }


    &__btn-add{
        padding: 10px;
        font-size: 20px;
        line-height: 150%;

        min-width: auto;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 60px);
        
    }

    &:hover &__wrapper {
        height: calc(100% + 84px);
        z-index: 3;
        background-color: $bgCard;
    }


    &__bottom{
        padding-bottom: 30px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        pointer-events: none;
        background-color: $bgCard;
        z-index: 20;
        transition: transform .3s;
        transform: translateY(100%);
        opacity: 0;

        z-index: -1;
    }

    &:hover &__bottom{
        position: absolute;
        transform: translateY(0%);
        opacity: 1;
        pointer-events: all;
    }
}