.products{
    padding-top: 120px;
    padding-bottom: 120px;

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__tabs{

        .tabs__buttons{

            &::-webkit-scrollbar {   
                display: none;            
            }
            &::-webkit-scrollbar-track {   
                display: none; 
            }
            &::-webkit-scrollbar-thumb {
                display: none; 
            }
        }

        .tabs__button{
            background-color: transparent;
            color: $dark;
            font-weight: 500;
            font-size: 30px;
            line-height: 115%;

            white-space: pre;

            &_current{
                color: $accent;
            }

            .dec-line{
                padding-top: 5px;
            }

            @media (max-width: 1200px){
                font-size: 26px;
            }

            @media (max-width: $laptop){
                font-size: 20px;
            }
        }
    }

    &__grid{
        padding-top: 37px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 15px;
        height: auto;

        margin-bottom: 50px;
        
        > * {
            grid-column: span 3;
        }
        
        @media (max-width: $laptop){
        
            > * {
                grid-column: span 4;
            }
        }

        @media (max-width: $tablet){
            > * {
                grid-column: span 6;
            }
        }

        @media (max-width: $mobileL){
            > * {
                grid-column: span 12;
            }
        }

        &_tablet-grid-off {
            @media (max-width: $tablet){
                display: flex;
                max-width: 100vw;
            }
        }

    }

    .swiper{
        overflow: visible;
    }
}

