.product-card{
    color: $dark;
    line-height: 140%;

    width: 100%;
    transition: .3s;

    display: flex;
    flex-direction: column;

    position: relative;
    
    &__wrapper{

        overflow: hidden;
        background-color: $bgCard;
    }

    &:hover{


        @media (min-width: $mobileL){
            cursor: pointer;
            transform: translateY(-10%);
            z-index: 100;
            height: auto;
        }

        .product-card-slider{
            z-index: 12;
            pointer-events: none;
        }

        .product-card-slider__navigation{
            opacity: 1;
            pointer-events: all;
        }
        .product-card-slider__pagination{
            pointer-events: all;
        }
        
    }
    &:hover &__wrapper {
        position: absolute;
        top: 0;
        left: 0;

        box-shadow: 0px 0px 20px 0px #cecece;

        height: calc(100% + 80px);
        z-index: 3;
        background-color: $bgCard;

        @media (max-width: $mobileL){
            position: relative;
        }
     }
    &:active{


        @media (min-width: $mobileL){
            transition: .1s;
            transform: translateY(-10%) scale(0.98);
        }
    }

    &__wrapper {
        z-index: 2;
        flex-grow: 1;
     }
     

    &__content{
        padding: 11px 30px 20px;
        position: relative;
    }

    &__name{
        max-width: 230px;
        margin-bottom: 10px;
        height: 50px;
        overflow: hidden;
    }

    &__price-block{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__old-price{
        color: $grey2;
        text-decoration: line-through;
    }

    &__price{
        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        color: $accent;
    }




     &:hover &__btn-add{
        pointer-events: all;
    }

    &.added &__btn-add{
        display: none;
    }


    &__btn-add{
        padding: 10px;
        font-size: 20px;
        line-height: 150%;

        white-space: pre;

        min-width: auto;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 60px);

        &:active{
            transform: translateX(-50%) scale(0.97);
        }
    }

    &__bottom{
        padding-bottom: 30px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        pointer-events: none;
        background-color: $bgCard;
        z-index: 20;
        transition: transform .3s;
        transform: translateY(100%);
        opacity: 0;
        z-index: 12;

        @media (max-width: $mobileL){
            position: relative;
            opacity: 1;
            transform: translateY(0%);
        }
    }

    &:hover &__bottom{
        position: absolute;
        transform: translateY(0%);
        opacity: 1;
        pointer-events: none;

        @media (max-width: $mobileL){
            position: relative;
        }
    }



    &.added &__count-block{
        display: flex;
    }

    &__count-block{

        padding: 0 30px;

        display: none;
        justify-content: space-between;

    }

    &__count-block-text{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        line-height: 100%;
    }

    &__count-block-btn-add, &__count-block-btn-subtr{
        position: relative;
        width: 50px;
        height: 50px;
        background-color: $background;
        border: 1px solid $accent;
        pointer-events: all;

        transition: background-color .3s;

        &:hover{
            background-color: $accent;
            &::before, &::after {
                background-color: $white;
            }
        }

        &:active{
            background-color: $darkOrange;
        }
    }

    &__count-block-btn-add{
        &::before, &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 1px;
            background-color: $dark;
            transition: background-color .3s;
        }

        &::before {
            transform: translateX(-50%) translateY(-50%);
            
        }

        &::after {
            transform: rotate(90deg) translateX(-1px) translateY(5px);
            
        }
    }
    &__count-block-btn-subtr{
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 1px;
            background-color: $dark;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    &__count-block{
        text-align: center;
    }

    &__count-block-in-cart{
        color: $grey;
    }

    &__favourite{
        position: absolute;
        z-index: 12;
        top: 30px;
        right: 30px;
        width: 28px;
        height: 28px;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            cursor: pointer;
        }

        &:active{
            transform: scale(1.1);
        }

        &-checbox{
            display: none;
        }
        &-checbox:checked + svg{
            .favourite-inner{
                fill: $accent;
            }
            .favourite-outline{
                fill: transparent;
            }
        }

        .favourite-inner{
            transition: .3s;
        }
        .favourite-outline{
            transition: .3s;
        }

        &:hover {
            .favourite-inner{
                fill: $accent;
            }
            .favourite-outline{
                fill: transparent;
            }
        }
    }

    &__new{
        position: absolute;
        pointer-events: none;
        z-index: 13;
        top: 30px;
        left: 30px;

        width: 150px;
        height: 29px;

        background-image: url('../img/svg/icons/new.svg');
    }

    &__link{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;

        }
    }

    &__cb{
        position: absolute;
        top: 30px;
        left: 30px;
        width: 17%;
        height: auto;
        aspect-ratio: 1/1;

        z-index: 12;

        .custom-checkbox_after{
            background-color: $bgCard;
        }

        * {
            width: 100%;
            height: 100%;
        }
    }
}
