.order-history 
    h3.order-history__title История заказов

    .drop.order-history__drop
        div.drop__label
            div.drop__label-item
                div.drop__label-item-title Дата:
                div.drop__label-item-text 10.05.2021
            div.drop__label-item
                div.drop__label-item-title Номер заказа:
                div.drop__label-item-text 58145
            div.drop__label-item
                div.drop__label-item-title Кол-во товаров:
                div.drop__label-item-text 25
            div.drop__label-item
                div.drop__label-item-title На сумму:
                div.drop__label-item-text 58 180 ₽
            div.drop__label-item.drop__label-item_mr_40
                div.drop__label-item-title Статус:
                div.drop__label-item-text Доставка
        
        .drop__content
            .dec-line
            .drop__item-block
                .drop__item-block-item
                    p.drop__item-block-title Информация о заказе
                    .drop__item-block-group
                        p Номер заказа:
                        .drop__item-block-group-text 58145 от 02.10.2021, 20:56:40
                    .drop__item-block-group
                        p Адрес:
                        .drop__item-block-group-text Г. Москва, ул. Ленина, д. 50, кв. 50
                    .drop__item-block-group
                        p Сумма заказа:
                        .drop__item-block-group-text 37 820 ₽
                .drop__item-block-item
                    p.drop__item-block-title Контактное лицо
                    .drop__item-block-group
                        p ФИО
                        .drop__item-block-group-text Иванов Иван Иванович
                    .drop__item-block-group
                        p Телефон
                        .drop__item-block-group-text 8 800 555-35-35
                    .drop__item-block-group
                        p Эл. почта
                        .drop__item-block-group-text Ivanov2021@mail.ru
            .dec-line
            .drop__item-block 
                p.drop__item-block-title Содержимое заказа
                
                table.cart-table
                    thead
                        tr
                            th Наименование
                            th Цена
                            th Количество
                            th Стоимость
                   
                    tbody 
                        tr.cart-item
                            td.cart-item__td-group
                                .cart-item__group
                                    .cart-item__image-wrapper
                                        img.cart-item__image(src="img/cart/foxxx_viper_fox_golden_vintage.png", alt="foxxx viper fox golden vintage")
                                    .cart-item__name 
                                        div Foxxx Viper Fox Golden Vintage Lot #1 RCA
                                        div.cart-item__price-mobile 
                                            span Цена: 9000₽
                            td.cart-item__price 9000₽
                            td
                                .product-count
                                    button.product-count__button.product-count__button_subtr
                                    input.product-count__input(type="text" value="1")
                                    button.product-count__button.product-count__button_add
                            td
                                .cart-item__cost
                                    span.cart-item__cost-mobile Стоимость: 
                                    span 34 920₽
                            td.no-padding
                                button.cart-item__delete
                                
                            td.cart-item__line-mobile
                                .dec-line

                        tr.cart-item
                            td.cart-item__td-group
                                .cart-item__group
                                    .cart-item__image-wrapper
                                        img.cart-item__image(src="img/cart/verge_grip.png", alt="verge grip")
                                    .cart-item__name
                                        div Verge Grip 35 мм
                                        div.cart-item__price-mobile 
                                            span Цена: 1400₽
                            td
                                .cart-item__price 1400₽
                            td
                                .product-count
                                    button.product-count__button.product-count__button_subtr
                                    input.product-count__input(type="text" value="1")
                                    button.product-count__button.product-count__button_add
                            td
                                .cart-item__cost
                                    span.cart-item__cost-mobile Стоимость: 
                                    span 1400₽
                            td
                                button.cart-item__delete
                
    .drop.order-history__drop
        div.drop__label
            div.drop__label-item
                div.drop__label-item-title Дата:
                div.drop__label-item-text 10.05.2021
            div.drop__label-item
                div.drop__label-item-title Номер заказа:
                div.drop__label-item-text 58145
            div.drop__label-item
                div.drop__label-item-title Кол-во товаров:
                div.drop__label-item-text 25
            div.drop__label-item
                div.drop__label-item-title На сумму:
                div.drop__label-item-text 58 180 ₽
            div.drop__label-item.drop__label-item_mr_40
                div.drop__label-item-title Статус:
                div.drop__label-item-text Доставка
        
        .drop__content
            .dec-line
            .drop__item-block
                .drop__item-block-item
                    p.drop__item-block-title Информация о заказе
                    .drop__item-block-group
                        p Номер заказа:
                        .drop__item-block-group-text 58145 от 02.10.2021, 20:56:40
                    .drop__item-block-group
                        p Адрес:
                        .drop__item-block-group-text Г. Москва, ул. Ленина, д. 50, кв. 50
                    .drop__item-block-group
                        p Сумма заказа:
                        .drop__item-block-group-text 37 820 ₽
                .drop__item-block-item
                    p.drop__item-block-title Контактное лицо
                    .drop__item-block-group
                        p ФИО
                        .drop__item-block-group-text Иванов Иван Иванович
                    .drop__item-block-group
                        p Телефон
                        .drop__item-block-group-text 8 800 555-35-35
                    .drop__item-block-group
                        p Эл. почта
                        .drop__item-block-group-text Ivanov2021@mail.ru
            .dec-line
            .drop__item-block 
                p.drop__item-block-title Содержимое заказа
                
                table.cart-table
                    thead
                        tr
                            th Наименование
                            th Цена
                            th Количество
                            th Стоимость
                   
                    tbody 
                        tr.cart-item
                            td.cart-item__td-group
                                .cart-item__group
                                    .cart-item__image-wrapper
                                        img.cart-item__image(src="img/cart/foxxx_viper_fox_golden_vintage.png", alt="foxxx viper fox golden vintage")
                                    .cart-item__name 
                                        div Foxxx Viper Fox Golden Vintage Lot #1 RCA
                                        div.cart-item__price-mobile 
                                            span Цена: 9000₽
                            td.cart-item__price 9000₽
                            td
                                .product-count
                                    button.product-count__button.product-count__button_subtr
                                    input.product-count__input(type="text" value="1")
                                    button.product-count__button.product-count__button_add
                            td
                                .cart-item__cost
                                    span.cart-item__cost-mobile Стоимость: 
                                    span 34 920₽
                            td
                                button.cart-item__delete
                                
                            td.cart-item__line-mobile
                                .dec-line

                        tr.cart-item
                            td.cart-item__td-group
                                .cart-item__group
                                    .cart-item__image-wrapper
                                        img.cart-item__image(src="img/cart/verge_grip.png", alt="verge grip")
                                    .cart-item__name
                                        div Verge Grip 35 мм
                                        div.cart-item__price-mobile 
                                            span Цена: 1400₽
                            td
                                .cart-item__price 1400₽
                            td
                                .product-count
                                    button.product-count__button.product-count__button_subtr
                                    input.product-count__input(type="text" value="1")
                                    button.product-count__button.product-count__button_add
                            td
                                .cart-item__cost
                                    span.cart-item__cost-mobile Стоимость: 
                                    span 1400₽
                            td
                                button.cart-item__delete
                
