.person-card
    .person-card__content
        .person-card__main
            .person-card__image-wrapper
                    img.person-card__image(src="img/avatar_3.jpg", alt="")
            .person-card__main-info
                p.person-card__your-manager Ваш менеджер:
                p.person-card__name Валерия
                p.person-card__status Не в сети

        .person-card__info
            a(href="tel:89098162300").contact-phone.contact-phone_black.person-card__phone 8(909)816-23-00
            .person-card__social
                a.person-card__social-link(href="#") Viber
                a.person-card__social-link(href="#") Whats App
                a.person-card__social-link(href="#") Telegram
            a(href="tel:88006006191").contact-phone.contact-phone_black 8(800)600-61-91
            p (Звонок бесплатный)
            a(href="mailto:Mr.Driskell@mail.ru").person-card__mail.contact-mail.contact-mail_black Mr.Driskell@mail.ru
            p.
                Понедельник — Пятница<br>
                с 7:00 до 15: 00 (МСК)
    .person-card__discount Ваша Персональная скидка:
        span.person-card__discount-value 15%


