.cart-page{
    &__title{
           padding-bottom: 48px;
    }
}

.cart-form{
    padding-bottom: 160px;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;

    &__main{
        grid-column: span 8;

        @media (max-width: $laptop){
            grid-column: span 12;
            margin-bottom: 20px;
        }
    }

    &__row{

        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 20px;

        > * {
            grid-column: span 8;
        }

        &_mb_30{
            margin-bottom: 30px;
        }
    }

    &__item{
        &:not(:last-child){
            margin-bottom: 50px;
        }

        @media (max-width: 630px){
            max-width: 400px;
            margin: 0 auto;
        }
    }

    &__table{

        width: 100%;
        margin-bottom: 60px;




        th{
            font-size: 15px;
            font-weight: 400;
            text-align: start;
            padding-bottom: 40px;

            @media (max-width: 690px){
                display: none;
            }
        }

        td:not(:last-child){
            padding-right: 40px;
            
            @media (max-width: $tablet){
                padding-right: 20px;

                @media (max-width: 690px){
                    padding-right: 0px !important;
                }
            }
        }
        td{
            padding-bottom: 20px;
            
        }



    }

    &__row-title{
        font-weight: 700;
        font-size: 25px;
        line-height: 115%;
        margin-bottom: 20px;

        @media (max-width: $tablet){
            font-size: 17px;
        }

        @media (max-width: $mobileL){

        }
    }

    &__label{
        width: 100%;
        min-width: 100px;
        color: $grey2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 10px;

        &_sm{
            grid-column: span 2;
            @media (max-width: 630px){
                grid-column: span 4;
            }
        }
        &_tel{
            grid-column: span 2;
            @media (max-width: 630px){
                grid-column: span 8;
            }
        }
        &_md{
            grid-column: span 3;
            @media (max-width: 630px){
                grid-column: span 8;
            }
        }
        &_bg{
            grid-column: span 5;
            @media (max-width: 630px){
                grid-column: span 8;
            }
        }
    }

    &__input{
        padding: 23px 14px 23px 30px;

        font-family: Jost;
        background-color: $bgCard;

        @media (max-width: 690px){
            padding: 23px 14px;
        }

        &::placeholder{
            color: $grey;
        }

        &_border{
            border: 1px solid $grey;
        }
    }
    &__dec-line{
        top: 35px;

        @media (max-width: 690px){
            display: none;
        }
    }
}

.agree-link{
    color: $accent;
    text-decoration: underline;
}
.agree-text{
    font-size: 13px;
}