section.about
    .about__content
        h2.about__title.visually-hidden О нас
        .about__item
            picture
                source(srcset="img/about.webp" type="image/webp")
                img(src="img/about.jpeg" alt="Люди с тату")
        article.about-article
            h3.about-article__title Тату магазин Mr. Driskell
            .about-article__text-block
                p.about-article__text.
                    Приветствуем вас в Tattoo Mall — в нашем тату магазине собираются энтузиасты индустрии, профессиональные мастера и новички, которые только делают первые шаги в тату искусстве. Мы знаем, насколько важно грамотно и точно подобрать инструменты для продуктивных тату сеансов, и помогаем быстро найти то, что поможет их сделать именно такими.
                p.about-article__text.
                    В нашем ассортименте не просто тату оборудование, это буквально целая команда из грамотных и действительно эффективных помощников на вашем рабочем столе. Пройдя этап долгих разработок и бесчисленных тестов под пристальным взглядом отечественных машиностроителей, космецевтов и брендов с мировым именем, эти товары нарабатывали опыт и каждый день становились лучше, чтобы показать, на что они способны, и помочь раскрыть ваш потенциал.
            .about-article__btn.btn О компании

