div.banners
    .banners__content
        .banner
            img.banner__image(src="img/catalog/lip_nitn.jpg" alt="foxx viper 2021")
            .banner__text-block
                .banner__text Краски Lip Nitn
                a.banner__link(href="catalog.html") Смотреть в каталоге
                    span.dec-line.dec-line__button.dec-line_square.dec-line_square-small
        .banner
            img.banner__image(src="img/catalog/foxx_viper_2021.jpg" alt="foxx viper 2021")
            .banner__text-block
                .banner__text Foxx viper — <br> хит 2021 года
                a.banner__link(href="catalog.html") Смотреть в каталоге
                    span.dec-line.dec-line__button.dec-line_square.dec-line_square-small