section.brands
    .brands__content
        .container
            h2.title.brands__title Популятрные бренды
        .container_big.brands__slider-container
            .brands__items
                .swiper.brands__slider
                    .swiper-wrapper
                        .swiper-slide.brands__slide.brands__slide(data-hash="slide1")
                            .brands__slide-image-wrapper
                                picture
                                    source(srcset="img/brands/kuro_sumi.webp" type="image/webp")
                                    img(src="img/brands/kuro_sumi.png" alt="kuro sumi")
                            .brands__slide-image-wrapper      
                                picture
                                    source(srcset="img/brands/face_and_body.webp" type="image/webp")
                                    img(src="img/brands/face_and_body.png" alt="face and body")
                        .swiper-slide.brands__slide.brands__slide(data-hash="slide2")
                            .brands__slide-image-wrapper
                                picture
                                    source(srcset="img/brands/hanafy.webp" type="image/webp")
                                    img(src="img/brands/hanafy.png" alt="hanafy")
                            .brands__slide-image-wrapper 
                                picture
                                    source(srcset="img/brands/h2ocean.webp" type="image/webp")
                                    img(src="img/brands/h2ocean.png" alt="h2ocean")
                        .swiper-slide.brands__slide(data-hash="slide3")
                            .brands__slide-image-wrapper
                                picture
                                    source(srcset="img/brands/tatoorevive.webp" type="image/webp")
                                    img(src="img/brands/tatoorevive.png" alt="tatoorevive")
                            .brands__slide-image-wrapper
                                picture
                                    source(srcset="img/brands/ink_machines.webp" type="image/webp")
                                    img(src="img/brands/ink_machines.png" alt="ink_machines")
                        .swiper-slide.brands__slide(data-hash="slide4")
                            .brands__slide-image-wrapper
                                picture
                                    source(srcset="img/brands/aloetattoo.webp" type="image/webp")
                                    img(src="img/brands/aloetattoo.png" alt="aloetattoo")
                            .brands__slide-image-wrapper
                                picture
                                    source(srcset="img/brands/cheyenne.webp" type="image/webp")
                                    img(src="img/brands/cheyenne.png" alt="cheyenne")
                        .swiper-slide.brands__slide(data-hash="slide5")
                            .brands__slide-image-wrapper
                                picture
                                    source(srcset="img/brands/dermalize.webp" type="image/webp")
                                    img(src="img/brands/dermalize.png" alt="dermalize")
                            .brands__slide-image-wrapper
                                picture
                                    source(srcset="img/brands/kwadron.webp" type="image/webp")
                                    img(src="img/brands/kwadron.png" alt="kwadron")
                        .swiper-slide.brands__slide(data-hash="slide6")
                            .brands__slide-image-wrapper
                                picture
                                    source(srcset="img/brands/tatoorevive.webp" type="image/webp")
                                    img(src="img/brands/tatoorevive.png" alt="tatoorevive")
                            .brands__slide-image-wrapper
                                picture
                                    source(srcset="img/brands/ink_machines.webp" type="image/webp")
                                    img(src="img/brands/ink_machines.png" alt="ink_machines")
            .slider-button.slider-button-prev#brands-slide-prev
            .slider-button.slider-button-next#brands-slide-next