section.brands
    .brands__content
        .container
            h2.title.brands__title Популятрные бренды
        .container_big.brands__slider-container
            .brands__items
                .swiper.brands__slider
                    .swiper-wrapper
                        .swiper-slide.brands__slide.brands__slide(data-hash="slide1")
                            a.brands__link(href="brands.html")
                                img(src="img/brands/kuro_sumi.png" alt="kuro sumi")
                            a.brands__link(href="brands.html")      
                                img(src="img/brands/face_and_body.jpg" alt="face and body")
                        .swiper-slide.brands__slide.brands__slide(data-hash="slide2")
                            a.brands__link(href="brands.html")
                                img(src="img/brands/hanafy.jpg" alt="hanafy")
                            a.brands__link(href="brands.html") 
                                img(src="img/brands/h2ocean.jpg" alt="h2ocean")
                        .swiper-slide.brands__slide(data-hash="slide3")
                            a.brands__link(href="brands.html")
                                img(src="img/brands/tatoorevive.jpg" alt="tatoorevive")
                            a.brands__link(href="brands.html")
                                img(src="img/brands/ink_machines.jpg" alt="ink_machines")
                        .swiper-slide.brands__slide(data-hash="slide4")
                            a.brands__link(href="brands.html")
                                img(src="img/brands/aloetattoo.jpg" alt="aloetattoo")
                            a.brands__link(href="brands.html")
                                img(src="img/brands/cheyenne.jpg" alt="cheyenne")
                        .swiper-slide.brands__slide(data-hash="slide5")
                            a.brands__link(href="brands.html")
                                img(src="img/brands/dermalize.jpg" alt="dermalize")
                            a.brands__link(href="brands.html")
                                img(src="img/brands/kwadron.jpg" alt="kwadron")
                        .swiper-slide.brands__slide(data-hash="slide6")
                            a.brands__link(href="brands.html")
                                img(src="img/brands/tatoorevive.jpg" alt="tatoorevive")
                            a.brands__link(href="brands.html")
                                img(src="img/brands/ink_machines.jpg" alt="ink_machines")
            .slider-button.slider-button_prev.btn-arrow.btn-arrow_left#brands-slide-prev
            .slider-button.slider-button_next.btn-arrow.btn-arrow_right#brands-slide-next