section.catalog
    .container
        .catalog__content.container
            h2.title.catalog__title Каталог
            .catalog__items 
                .catalog-item.catalog-item_md.catalog-item_just-cont-end
                    img.catalog-item__image( src="img/catalog/tatoo_set.png" width="350" height="350")
                    .catalog-item__text-content
                        a.catalog-item__link(href="#") Тату <br>наборы
                .catalog-item.catalog-item_bg
                    img.catalog-item__image( src="img/catalog/holders.png" width="535" height="270")
                    .catalog-item__text-content
                        a.catalog-item__link(href="#") Держатели

                .catalog-item.catalog-item_sm.catalog-item_tablet-6
                    img.catalog-item__image( src="img/catalog/tatoo_machines.png" width="259" height="259")
                    .catalog-item__text-content
                        a.catalog-item__link(href="#") Тату машинки
                .catalog-item.catalog-item_md.catalog-item_just-cont-end.catalog-item_tablet-6
                    img.catalog-item__image( src="img/catalog/pedals_wires.png" width="350" height="350")
                    .catalog-item__text-content
                        a.catalog-item__link(href="#") Педали <br>и провода
                .catalog-item.catalog-item_sm.catalog-item_tablet-12
                    img.catalog-item__image( src="img/catalog/paints.png" width="308" height="266")
                    .catalog-item__text-content
                        a.catalog-item__link(href="#") Краски

                .catalog-item.catalog-item_md.catalog-item_tablet-hidden
                    img.catalog-item__image( src="img/catalog/power_supplies.png" width="440" height="267")
                    .catalog-item__text-content
                        a.catalog-item__link(href="#") Блоки питания
                .catalog-item.catalog-item_sm.catalog-item_tablet-hidden
                    img.catalog-item__image( src="img/catalog/tips.png" width="309" height="266")
                    .catalog-item__text-content
                        a.catalog-item__link(href="#") Наконечники
                .catalog-item.catalog-item_sm.catalog-item_tablet-hidden
                    img.catalog-item__image( src="img/catalog/tatoo_needles.png" width="308" height="266")
                    .catalog-item__text-content
                        a.catalog-item__link(href="#") Тату иглы

                .catalog-item.catalog-item_sm.catalog-item_tablet-hidden
                    img.catalog-item__image( src="img/catalog/consumables.png" width="277" height="240")
                    .catalog-item__text-content
                        a.catalog-item__link(href="#") Защита, ёмкости, <br>расходники
                .catalog-item.catalog-item_sm.catalog-item_tablet-hidden
                    img.catalog-item__image( src="img/catalog/accessories.png" width="270" height="240")
                    .catalog-item__text-content
                        a.catalog-item__link(href="#") Аксессуары
                .catalog-item.catalog-item_md.catalog-item_tablet-hidden
                    img.catalog-item__image( src="img/catalog/printers.png" width="439" height="336")
                    .catalog-item__text-content
                        a.catalog-item__link(href="#") Принтеры и планшеты
