section.catalog
    .container
        .catalog__content.container
            h2.title.catalog__title Каталог
            .catalog__items 
                .catalog-item.catalog-item_md.catalog-item_just-cont-end
                    img.catalog-item__img( src="img/catalog/tatoo_set.jpg" width="350" height="350")
                    .catalog-item__text-content
                        .catalog-item__name Тату <br>наборы
                .catalog-item.catalog-item_bg
                    img.catalog-item__img( src="img/catalog/holders.jpg" width="535" height="270")
                    .catalog-item__text-content
                        .catalog-item__name Держатели

                .catalog-item.catalog-item_sm
                    img.catalog-item__img( src="img/catalog/tatoo_machines.jpg" width="259" height="259")
                    .catalog-item__text-content
                        .catalog-item__name Тату машинки
                .catalog-item.catalog-item_md.catalog-item_just-cont-end
                    img.catalog-item__img( src="img/catalog/pedals_wires.jpg" width="350" height="350")
                    .catalog-item__text-content
                        .catalog-item__name Педали <br>и провода
                .catalog-item.catalog-item_sm
                    img.catalog-item__img( src="img/catalog/paints.jpg" width="308" height="266")
                    .catalog-item__text-content
                        .catalog-item__name Тату <br>Краски

                .catalog-item.catalog-item_md
                    img.catalog-item__img( src="img/catalog/power_supplies.jpg" width="440" height="267")
                    .catalog-item__text-content
                        .catalog-item__name Блоки питания
                .catalog-item.catalog-item_sm
                    img.catalog-item__img( src="img/catalog/tips.jpg" width="309" height="266")
                    .catalog-item__text-content
                        .catalog-item__name Наконечники
                .catalog-item.catalog-item_sm
                    img.catalog-item__img( src="img/catalog/tatoo_needles.jpg" width="308" height="266")
                    .catalog-item__text-content
                        .catalog-item__name Тату иглы

                .catalog-item.catalog-item_sm
                    img.catalog-item__img( src="img/catalog/consumables.jpg" width="277" height="240")
                    .catalog-item__text-content
                        .catalog-item__name Защита, ёмкости, расходники
                .catalog-item.catalog-item_sm
                    img.catalog-item__img( src="img/catalog/accessories.jpg" width="270" height="240")
                    .catalog-item__text-content
                        .catalog-item__name Аксессуары
                .catalog-item.catalog-item_md
                    img.catalog-item__img( src="img/catalog/printers.jpg" width="439" height="336")
                    .catalog-item__text-content
                        .catalog-item__name Принтеры и планшеты
