section.reviews
    .container_big
        .reviews__content
            h2.container.title.reviews__title Отзывы
            .reviews__slider-wrapper
                .container
                    .swiper.reviews__slider
                        .swiper-wrapper
                            .swiper-slide.reviews__slide(data-hash="slide1")
                                .review
                                    .review__content
                                        .review__avatar-wrapper
                                            img.review__avatar(src="img/avatar_1.jpg")
                                        .review__text.
                                            Положили всё необходимое + наклейку, скидочную карту и леденцы, неожиданным было то, что держатель и клип-корд в наборе пришёл не того цвета, меня даже порадовало, вот только разочаровала одна упакованная игла, которую не получилось адекватно достать
                                        a.review__link(href="#") @Velli7350
                            .swiper-slide.reviews__slide(data-hash="slide2")
                                .review
                                    .review__content
                                        .review__avatar-wrapper
                                            img.review__avatar(src="img/avatar_1.jpg")
                                        .review__text.
                                            Заказал первый раз, заказ пришёл во время, упаковано все отлично, все заказанное соответствует описанию, но есть один маленький ньюанс, коробки все мятые, толи при упаковке так случилось толи на складе так отномятся с товаром, в целом всем доволен, буду заказывать ещё, сайт-магазин рекомендую к покупкам, в целом всем доволен, буду заказывать ещё
                                        a.review__link(href="#") @Velli7350
                            .swiper-slide.reviews__slide(data-hash="slide3")
                                .review
                                    .review__content
                                        .review__avatar-wrapper
                                            img.review__avatar(src="img/avatar_2.jpg")
                                        .review__text.
                                            Положили всё необходимое + наклейку, скидочную карту и леденцы, неожиданным было то, что держатель и клип-корд в наборе пришёл не того цвета, меня даже порадовало, вот только разочаровала одна упакованная игла, которую не получилось адекватно достать
                                        a.review__link(href="#") @mark_love
                            .swiper-slide.reviews__slide(data-hash="slide4")
                                .review
                                    .review__content
                                            .review__avatar-wrapper
                                                img.review__avatar(src="img/avatar_2.jpg")
                                            .review__text.
                                                Положили всё необходимое + наклейку, скидочную карту и леденцы, неожиданным было то, что держатель и клип-корд в наборе пришёл не того цвета, меня даже порадовало, вот только разочаровала одна упакованная игла, которую не получилось адекватно достать
                                            a.review__link(href="#") @mark_love
                            .swiper-slide.reviews__slide(data-hash="slide5")
                                .review
                                    .review__content
                                            .review__avatar-wrapper
                                                img.review__avatar(src="img/avatar_2.jpg")
                                            .review__text.
                                                Положили всё необходимое + наклейку, скидочную карту и леденцы, неожиданным было то, что держатель и клип-корд в наборе пришёл не того цвета, меня даже порадовало, вот только разочаровала одна упакованная игла, которую не получилось адекватно достать
                                            a.review__link(href="#") @mark_love
                            .swiper-slide.reviews__slide(data-hash="slide6")
                                .review
                                    .review__content
                                            .review__avatar-wrapper
                                                img.review__avatar(src="img/avatar_2.jpg")
                                            .review__text.
                                                Положили всё необходимое + наклейку, скидочную карту и леденцы, неожиданным было то, что держатель и клип-корд в наборе пришёл не того цвета, меня даже порадовало, вот только разочаровала одна упакованная игла, которую не получилось адекватно достать
                                            a.review__link(href="#") @mark_love
                .reviews__slider-pagination#reviews-slider-pagination
                .slider-button.slider-button-prev#reviews-slide-prev
                .slider-button.slider-button-next#reviews-slide-next