

.product-main{
    padding-top: 30px;
    padding-bottom: 48px;


    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
    
    > * {
        grid-column: span 1;
    }
    
    @media (max-width: 767px){
    
        > * {
            grid-column: span 2;
        }
    }


    &__gallery{
        display: flex;
        gap: 20px;

        @media (max-width: $laptop){
            flex-direction: column;
            margin: 0 auto;
            max-width: 390px;
        }

        @media (max-width: $tablet){
            align-items: center;
            justify-content: center;
        }
    }

    &__gallery-thumbs{
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media (max-width: $laptop){
            flex-direction: row;
            order: 2;
            gap: 20px;
        }
    }
    &__gallery-image{
        max-width:470px; 
        max-height:400px;
        overflow: hidden;

        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $bgCard;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__info{
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: $tablet){
            margin: 0 auto;
            max-width: 390px;
        }
    }

    &__title-tab{
        display: none;
        color: $dark;   
        font-weight: 700;
        font-size: 30px;
        line-height: 115%;

        @media (max-width: $tablet){
            display: block;
        }

        @media (max-width: $mobileL){
            font-size: 20px;
        }
    }

    &__title{
        color: $dark;   
        font-weight: 700;
        font-size: 30px;
        line-height: 115%;

        @media (max-width: $tablet){
            display: none;
        }

        @media (max-width: $mobileL){
            font-size: 20px;
        }
    }

    &__row{
        position: relative;
        display: flex;
        align-items: center;
        gap: 30px;

        width: 100%;
    }
    &__availability{
        color: $grey2;

        @media (max-width: $tablet){
            font-size: 17px;
        }
    }
    &__availability-value{
        color: $accent;
    }

    &__descr{
        color: $grey2;
    }

    &__examples{
        position: relative;
        color: $accent;
    }

    &__count{
        margin-right: 20px;
        width: 120px;
        height: 40px;

        display: flex;
        justify-content: space-between;
        gap: 15px;
    }
    &__count-button{
        color: $dark;

        position: relative;

        width: 15px;
        height: 40px;

        &:hover{
            cursor: pointer;
            
            &::before, &::after {
                background-color: $accent;
            }
        }

        &::before, &::after {
           transition: background-color .3s;
        }

        &_add{
            &::before {
                content: "";
                position: absolute;
                width: 11px;
                height: 1px;
                background-color: $dark;
                top: 50%;
                left: 50%;
                transform: translate(-50%);
            }
            &::after {
                content: "";
                position: absolute;
                width: 11px;
                height: 1px;
                background-color: $dark;
                top: 50%;
                left: 50%;
                transform: translate(-50%) rotate(90deg);
            }
            
        }

        &_subtr{
            &::before {
                content: "";
                position: absolute;
                width: 11px;
                height: 1px;
                background-color: $dark;
                top: 50%;
                left: 50%;
                transform: translate(-50%);
            }

        }
    }

    &__input{
        width: 40px;
        height: 40px;
        border: 2px solid $accent;
        color: $dark;
        background-color: $background;
        text-align: center;
    }

    &__share{
        color: $grey2;

        @media (max-width: 900px){
            position: absolute;
            bottom: -30px;
            right: 0px;
        }
    }

    &__gallery-hidden{
        display: none;
    }
}


.price{
    display: flex;
    align-items: center;
    gap: 15px;
    white-space: pre;

    &__new{
        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        color: $accent;

        @media (max-width: $tablet){
            font-size: 17px;
        }
    }
    &__old{
        color: $grey;
        text-decoration: line-through;

        @media (max-width: $tablet){
            font-size: 15px;
        }
    }


}

.product-gallery-thumb{

    &:hover{
        cursor: pointer;
    }

    @media (max-width: $mobileL){
        width: 100%;
        height: auto;
    }
}

.animopacity{
    animation: animopacity 0.7s;
}

@keyframes animopacity {
    from{
        opacity: 0%;
    }
    to{
        opacity: 1000%;
    }
}

.fancybox__toolbar{
    display: none;
}
.fancybox__container{
    --fancybox-bg: rgba(24, 24, 27, 0.75);
}
.f-panzoom__content{
    &:hover{
        cursor: zoom-in;
        
    }
}