.basket-form{
    padding-bottom: 160px;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;

    &__main{
        grid-column: span 8;

        @media (max-width: $laptop){
            grid-column: span 12;
            margin-bottom: 20px;
        }
    }

    &__row{

        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 20px;

        > * {
            grid-column: span 8;
        }

        &_mb_30{
            margin-bottom: 30px;
        }
    }

    &__item{
        &:not(:last-child){
            margin-bottom: 50px;
        }

        @media (max-width: 630px){
            max-width: 400px;
            margin: 0 auto;
        }
    }

    &__table{

        width: 100%;
        margin-bottom: 60px;




        th{
            font-size: 15px;
            font-weight: 400;
            text-align: start;
            padding-bottom: 40px;

            @media (max-width: 690px){
                display: none;
            }
        }

        tr{

/*             @media (max-width: 690px){
                display: flex;
                flex-wrap: wrap;
            }  */


        }

        td:not(:last-child){
            padding-right: 40px;
            
            @media (max-width: $tablet){
                padding-right: 20px;

                @media (max-width: 690px){
                    padding-right: 0px !important;
                }
            }
        }
        td{
            padding-bottom: 20px;
            
        }



    }

    &__dec-line{
        top: 35px;

        @media (max-width: 690px){
            display: none;
        }
    }

    &__row-title{
        font-weight: 700;
        font-size: 25px;
        line-height: 115%;
        margin-bottom: 20px;

        @media (max-width: $tablet){
            font-size: 17px;
        }

        @media (max-width: $mobileL){

        }
    }

    &__label{
        width: 100%;
        min-width: 100px;
        color: $grey2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 10px;

        &_sm{
            grid-column: span 2;
            @media (max-width: 630px){
                grid-column: span 4;
            }
        }
        &_tel{
            grid-column: span 2;
            @media (max-width: 630px){
                grid-column: span 8;
            }
        }
        &_md{
            grid-column: span 3;
            @media (max-width: 630px){
                grid-column: span 8;
            }
        }
        &_bg{
            grid-column: span 5;
            @media (max-width: 630px){
                grid-column: span 8;
            }
        }
    }

    &__input{
        padding: 23px 14px 23px 30px;

        font-family: Jost;
        background-color: $bgCard;

        @media (max-width: 690px){
            padding: 23px 14px;
        }

        &::placeholder{
            color: $grey;
        }

        &_border{
            border: 1px solid $grey;
        }


    }


    &__side{
        max-width: 392px;
        background-color: $bgCard;
        grid-column: span 4;

        @media (max-width: $laptop){
            grid-column: span 12;
        }
        @media (max-width: 630px){
            max-width: 400px;
            margin: 0 auto;
        }
    }

    &__side-block{
        padding: 30px 40px 30px 40px;
    }

    &__total{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 14px;

        margin-bottom: 30px;
    }
    &__total-value{
        font-weight: 500;
    }
    &__total-item{
        width: 100%;
        display: flex;
        justify-content: space-between;

        &_bold{
            font-weight: 700;
            font-size: 25px;
            line-height: 115%;
        }
    }

    &__btn-promo{
        margin: 0 auto;
        padding-top: 15px;
        position: relative;
        color: $accent;
        font-size: 20px;
        line-height: 150%;
        display: block;
        
    }

    &__btn{
        &:not(:last-child){
            margin-bottom: 10px;
        }
        &:last-child{
            margin-bottom: 20px;
        }
    }
}

.basket-item{

    position: relative;

    @media (max-width: 690px){
        font-size: 15px;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }


    &__image-wrapper{

        width: 100px;
        height: 100px;

        flex-shrink: 0;
        
        @media (max-width: 690px){
            width: 80px;
            height: 80px;
        }
    }

    &__image{
        width: 100%;
        height: auto;   
    }

    &__group{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__td-group{
        @media (max-width: 690px){
            width: 100%;
            display: flex;
            justify-content: flex-start;

        }
    }


    &__name{
        max-width: 192px;

        > div:first-child{
            flex-grow: 1;
            display: flex;
            align-items: center;
        }



        @media (max-width: 690px){
            padding-top: 5px;
            padding-right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
        }
    }


    &__price{
        @media (max-width: 690px){
            display: none;
        }
    }

    &__price-mobile{
        display: none;
        color: $grey2;
        @media (max-width: 690px){
            display: block;
        }
    }

    &__cost_mobile{
        display: none;

        @media (max-width: 690px){
            display: inline;
        }
    }

    &__cost, &__price{
        white-space: pre;
    }

    &__delete{
        width: 10px;
        height: 10px;

        position: relative;

        @media (max-width: 690px){
            position: absolute;
            top: 40px;
            right: 0;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            transform: rotate(45deg);
            background-color: $grey2;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            transform: rotate(-45deg);
            background-color: $grey2;
        }
        
    }

    &__line-mobile{
        display: none;
        width: 100%;

        @media (max-width: 690px){
            display: block;
        }
    }
}

.agree-link{
    color: $accent;
    text-decoration: underline;
}
.agree-text{
    font-size: 13px;
}