
.popup.popup-account
    .popup__inner.account
        button.popup__close-btn
        .popup__title Личный кабинет
        .form.popup__form
            .form__flex-row
                label.form__label Введите номер
                    input.form__input(type="tel" placeholder="+7 ХХХ ХХХ ХХ ХХ")
            .form__flex-row
                button.form__btn.btn.btn_orange#getcode Получить код в SMS
            .form__flex-row
                +checkbox('При воходе или регистрации вы соглашаетесь с условиями предоставления сервиса','option1',false,'after',false)(class='form-cb')
    .popup__inner.code
        button.popup__close-btn
        .popup__title.popup__title_center Введите код
        .form.popup__form
            .form__flex-row.form__flex-row_code
                    input.form__input.form__input_num(type="text")
                    input.form__input.form__input_num(type="text")
                    input.form__input.form__input_num(type="text")
                    input.form__input.form__input_num(type="text")
                    button.form__btn.form__btn_small ok

            .form__flex-row.form__flex-row_wrap.form__flex-row_wrap-gap-5
                p Вам потупит звонок на <b>+7 (999)529-00-01</b>
                p Введите последние 4 цифры звонящего номера.
                p Получить новый код можно будет через 01:48
            .form__flex-row
                button.form__btn.btn-code Не приходит код
                    span.dec-line.dec-line_button.dec-line_square.dec-line_square-small
            .form__flex-row
                +checkbox('При воходе или регистрации вы соглашаетесь с условиями предоставления сервиса','option1',false,'after',false)(class='form-cb')