include ../../common/mixins/card

- 
    var products = [
        {images: [
            {src:'img/catalog/product/foxxx_kitsume_mini_black.png', alt:'foxxx kitsume mini black' },
            {src:'img/catalog/product/foxxx_kitsume_mini_black.png', alt:'foxxx kitsume mini black' },
            {src:'img/catalog/product/foxxx_kitsume_mini_black.png', alt:'foxxx kitsume mini black' },
            {src:'img/catalog/product/foxxx_kitsume_mini_black.png', alt:'foxxx kitsume mini black' }
            ], name:'Foxxx Kitsune Mini Black Vintage RCA', price: '6 000 ₽', new: true},
        {images: [
            {src:'img/catalog/product/foxxx_viper_fox_golden_vintage.png', alt:'foxxx viper fox golden vintage' },
            {src:'img/catalog/product/foxxx_viper_fox_golden_vintage.png', alt:'foxxx viper fox golden vintage' },
            {src:'img/catalog/product/foxxx_viper_fox_golden_vintage.png', alt:'foxxx viper fox golden vintage' },
            {src:'img/catalog/product/foxxx_viper_fox_golden_vintage.png', alt:'foxxx viper fox golden vintage' }
            ], name:'Foxxx Viper Fox Golden Vintage Lot #1 RCA', price: '8 730 ₽', new: true},
        {images: [
            {src:'img/catalog/product/wally_plastic_s.png', alt:'wally_plastic_s' },
            {src:'img/catalog/product/wally_plastic_s.png', alt:'wally_plastic_s' },
            {src:'img/catalog/product/wally_plastic_s.png', alt:'wally_plastic_s' },
            {src:'img/catalog/product/wally_plastic_s.png', alt:'wally_plastic_s' }
            ], name:'Нитровиниловые перчатки Wally Plastic S', price: '20 ₽', new: true},
        {images: [
            {src:'img/catalog/product/forever_cartridge_grip_ergo_30.png', alt:'forever cartridge grip ergo' },
            {src:'img/catalog/product/forever_cartridge_grip_ergo_30.png', alt:'forever cartridge grip ergo' },
            {src:'img/catalog/product/forever_cartridge_grip_ergo_30.png', alt:'forever cartridge grip ergo' },
            {src:'img/catalog/product/forever_cartridge_grip_ergo_30.png', alt:'forever cartridge grip ergo' }
            ], name:'Forever Cartridge Grip Ergo 30 mm Огненно-Рыжий', price: '2 037 ₽', new: true},

        {images: [
            {src:'img/catalog/product/verge_direct_2_1_pink.png', alt:'verge direct 2.1 pink' },
            {src:'img/catalog/product/verge_direct_2_1_pink.png', alt:'verge direct 2.1 pink' },
            {src:'img/catalog/product/verge_direct_2_1_pink.png', alt:'verge direct 2.1 pink' },
            {src:'img/catalog/product/verge_direct_2_1_pink.png', alt:'verge direct 2.1 pink' }
            ], name:'Verge Direct 2.1 Pink gip EGO 4 mm liners', price: '2 037 ₽', new: true},
        {images: [
            {src:'img/catalog/product/deuce_machine_direct_drive.png', alt:'deuce machine direct drive' },
            {src:'img/catalog/product/deuce_machine_direct_drive.png', alt:'deuce machine direct drive' },
            {src:'img/catalog/product/deuce_machine_direct_drive.png', alt:'deuce machine direct drive' },
            {src:'img/catalog/product/deuce_machine_direct_drive.png', alt:'deuce machine direct drive' }
            ], name:'Deuce Machines Direct Drive #7 RCA Samurai', price: '8 000 ₽', new: true},
        {images: [
            {src:'img/catalog/product/cyborg_machines_alter_rotary.png', alt:'cyborg machines alter rotary' },
            {src:'img/catalog/product/cyborg_machines_alter_rotary.png', alt:'cyborg machines alter rotary' },
            {src:'img/catalog/product/cyborg_machines_alter_rotary.png', alt:'cyborg machines alter rotary' },
            {src:'img/catalog/product/cyborg_machines_alter_rotary.png', alt:'cyborg machines alter rotary' }
            ], name:'Cyborg Machines Alter Rotary Axis Cross Sexy Nymph', price: '11 000 ₽', new: true},
        {images: [
            {src:'img/catalog/product/verge_direct_2_1_gunmetal.png', alt:'verge direct 2.1 gunmetal.png' },
            {src:'img/catalog/product/verge_direct_2_1_gunmetal.png', alt:'verge direct 2.1 gunmetal.png' },
            {src:'img/catalog/product/verge_direct_2_1_gunmetal.png', alt:'verge direct 2.1 gunmetal.png' },
            {src:'img/catalog/product/verge_direct_2_1_gunmetal.png', alt:'verge direct 2.1 gunmetal.png' }
            ], name:'Verge Direct 2.1 Gunmetal', price: '10 900 ₽', new: true},
    ]
    var products2 = [
        {images: [
            {src:'img/catalog/product/foxxx_viper_fox_golden_vintage.png', alt:'foxxx viper fox golden vintage' },
            {src:'img/catalog/product/foxxx_viper_fox_golden_vintage.png', alt:'foxxx viper fox golden vintage' },
            {src:'img/catalog/product/foxxx_viper_fox_golden_vintage.png', alt:'foxxx viper fox golden vintage' },
            {src:'img/catalog/product/foxxx_viper_fox_golden_vintage.png', alt:'foxxx viper fox golden vintage' }
            ], name:'Foxxx Viper Fox Golden Vintage Lot #1 RCA', price: '8 730 ₽', new: true},
        {images: [
            {src:'img/catalog/product/cyborg_machines_alter_rotary.png', alt:'cyborg machines alter rotary' },
            {src:'img/catalog/product/cyborg_machines_alter_rotary.png', alt:'cyborg machines alter rotary' },
            {src:'img/catalog/product/cyborg_machines_alter_rotary.png', alt:'cyborg machines alter rotary' },
            {src:'img/catalog/product/cyborg_machines_alter_rotary.png', alt:'cyborg machines alter rotary' }
            ], name:'Cyborg Machines Alter Rotary Axis Cross Sexy Nymph', price: '11 000 ₽', new: true},
        {images: [
            {src:'img/catalog/product/foxxx_kitsume_mini_black.png', alt:'foxxx kitsume mini black' },
            {src:'img/catalog/product/foxxx_kitsume_mini_black.png', alt:'foxxx kitsume mini black' },
            {src:'img/catalog/product/foxxx_kitsume_mini_black.png', alt:'foxxx kitsume mini black' },
            {src:'img/catalog/product/foxxx_kitsume_mini_black.png', alt:'foxxx kitsume mini black' }
            ], name:'Foxxx Kitsune Mini Black Vintage RCA', price: '6 000 ₽', new: true},
        {images: [
            {src:'img/catalog/product/wally_plastic_s.png', alt:'wally_plastic_s' },
            {src:'img/catalog/product/wally_plastic_s.png', alt:'wally_plastic_s' },
            {src:'img/catalog/product/wally_plastic_s.png', alt:'wally_plastic_s' },
            {src:'img/catalog/product/wally_plastic_s.png', alt:'wally_plastic_s' }
            ], name:'Нитровиниловые перчатки Wally Plastic S', price: '20 ₽', new: true},
        {images: [
            {src:'img/catalog/product/verge_direct_2_1_gunmetal.png', alt:'verge direct 2.1 gunmetal.png' },
            {src:'img/catalog/product/verge_direct_2_1_gunmetal.png', alt:'verge direct 2.1 gunmetal.png' },
            {src:'img/catalog/product/verge_direct_2_1_gunmetal.png', alt:'verge direct 2.1 gunmetal.png' },
            {src:'img/catalog/product/verge_direct_2_1_gunmetal.png', alt:'verge direct 2.1 gunmetal.png' }
            ], name:'Verge Direct 2.1 Gunmetal', price: '10 900 ₽', new: true},
        {images: [
            {src:'img/catalog/product/forever_cartridge_grip_ergo_30.png', alt:'forever cartridge grip ergo' },
            {src:'img/catalog/product/forever_cartridge_grip_ergo_30.png', alt:'forever cartridge grip ergo' },
            {src:'img/catalog/product/forever_cartridge_grip_ergo_30.png', alt:'forever cartridge grip ergo' },
            {src:'img/catalog/product/forever_cartridge_grip_ergo_30.png', alt:'forever cartridge grip ergo' }
            ], name:'Forever Cartridge Grip Ergo 30 mm Огненно-Рыжий', price: '2 037 ₽', new: true},

        {images: [
            {src:'img/catalog/product/verge_direct_2_1_pink.png', alt:'verge direct 2.1 pink' },
            {src:'img/catalog/product/verge_direct_2_1_pink.png', alt:'verge direct 2.1 pink' },
            {src:'img/catalog/product/verge_direct_2_1_pink.png', alt:'verge direct 2.1 pink' },
            {src:'img/catalog/product/verge_direct_2_1_pink.png', alt:'verge direct 2.1 pink' }
            ], name:'Verge Direct 2.1 Pink gip EGO 4 mm liners', price: '2 037 ₽', new: true},
        {images: [
            {src:'img/catalog/product/deuce_machine_direct_drive.png', alt:'deuce machine direct drive' },
            {src:'img/catalog/product/deuce_machine_direct_drive.png', alt:'deuce machine direct drive' },
            {src:'img/catalog/product/deuce_machine_direct_drive.png', alt:'deuce machine direct drive' },
            {src:'img/catalog/product/deuce_machine_direct_drive.png', alt:'deuce machine direct drive' }
            ], name:'Deuce Machines Direct Drive #7 RCA Samurai', price: '8 000 ₽', new: true},
    ]
    
section.products
    .container  
        .products__content
            h2.products__title.visually-hidden Товары
            .tabs.products__tabs
                .tabs__buttons
                    button.tabs__button(data-target="#prodtab1") Хиты продаж
                        span.dec-line.dec-line__button.dec-line__button_switchable.dec-line_square
                    button.tabs__button(data-target="#prodtab2") Самые популярные
                        span.dec-line.dec-line__button.dec-line__button_switchable.dec-line_square
                    button.tabs__button(data-target="#prodtab3") Новые поступления
                        span.dec-line.dec-line__button.dec-line__button_switchable.dec-line_square
                    button.tabs__button(data-target="#prodtab4") Акционные товары
                        span.dec-line.dec-line__button.dec-line__button_switchable.dec-line_square
                    
                .tabs__content#prodtab1
                    .swiper.products__slider-cat-1
                        .products__grid.swiper-wrapper
                            each product,i in products
                                +card(product,i + 1)
                        .swiper-pagination.slider-main-pagination#products-slider-pagination

                .tabs__content#prodtab2
                    .products__grid
                        each product in products2
                            +card(product)
            
                .tabs__content#prodtab3 
                    .products__grid
                        each product in products
                            +card(product)
                            
                .tabs__content#prodtab4 
                    .products__grid
                        each product in products2
                            +card(product)

            a.btn(href="catalog.html") Показать ещё
            