.about{
    padding: 120px 0;
    &__content{
        display: flex;
        align-items: center;
    }
}

.about-article{
    max-width: 582px;
    padding-left: 55px;

    &__title{
        font-size: 50px;
        line-height: 130%;   
        color: $accent;

        margin-bottom: 20px;
    }

    &__text-block{
        margin-bottom: 40px;
    }
}