.form-section{
    padding-top: 100px;
    padding-bottom: 200px;

    max-width: 1920px;
    margin: 0 auto;

    &__title{
        font-family: Forum;
        margin-bottom: 30px;
    }

    @media (max-width: $tablet){
        max-width: calc(1216px + 40px);
        width: 100%;
        margin: 0 auto;
    }

    &__content{
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__text{
        font-weight: 500;
        font-size: 25px;
        line-height: 115%; 
        margin-bottom: 33px;  

        @media (max-width: $mobileL){
            font-size: 17px;
        }
    }


    &__item{

        &_left{
            
            padding-left: 20px;
            margin-right: 92px;
            max-width: 526px;
            flex: 1 0 526px;

            @media (max-width: $laptop){
                padding-left: 40px;
                padding-right: 40px;
                flex: 1 1 100%;
                margin: 0 auto;
                max-width: 768px;
            }
        }
    }
    &__image{
        max-width: 952px;
        width: 100%;

        object-fit: cover;
        object-position: left;

        @media (max-width: $laptop){
            display: none;
        }
    }

    &__form{
        gap: 30px;
    }


}