.form-section{
    padding-top: 100px;
    padding-bottom: 200px;

    &__title{
        margin-bottom: 30px;
    }

    @media (max-width: $tablet){
        max-width: calc(1216px + 40px);
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        margin: 0 auto;
    }

    &__content{
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__text{
        font-weight: 500;
        font-size: 25px;
        line-height: 115%; 
        margin-bottom: 33px;  
    }


    &__item{

        &_left{
            
            padding-left: 20px;
            margin-right: 92px;
            max-width: 526px;
            flex: 1 1 526px;

            @media (max-width: $laptop){
                padding: 0;
                flex: 1 1 100%;
                margin: 0 auto;
                max-width: 768px;
            }
        }
    }
    &__image{
        max-width: 952px;
        width: 100%;
        height: auto;

        flex-grow: 1;
        flex-shrink: 1;

        @media (max-width: $laptop){
            display: none;
        }
    }

    &__form{
        gap: 30px;
    }


}