
    .hero{
        width: 100%;
        overflow: hidden;

        min-height: 700px;
        background-color: $black;

        &__wrapper{
            margin: 0 auto;
        }   
    
        &__content{
            display: flex;
            position: relative;
    
            @media (max-width: $desktop){
                height: 720px;
            }
    
            @media (max-width: $laptop){
                height: 568px;
            }
        }
    
        &__item{
            padding-top: 83px;
            padding-bottom: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 100%;
            
            padding-left: 160px;
            z-index: 0;
    
    
            @media (max-width:  $desktop){
                padding-left: 87px;
                padding-top: 0;
                max-width: none;
                 
            }
    
            @media (max-width:  $laptop){
                padding-left: 0;
                align-items: center;
                width: 100%;
                z-index: 0;
            }
        }
    }


.slider-main{

    max-width: 1920px;
    width: 100%;
    height: 700px;
    position: relative;

    &__slide{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        background-position: center;
        background-repeat: no-repeat;

        @media (max-width: $mobileL){
            background-position: 66% top;
            background-size: 300%;

            justify-content: flex-end;
            padding-bottom: 20px;
        }
    }

    &__image{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__title,  &__subtitle{
        position: relative;
        z-index: 2;
        text-align: start;

    }
    &__title{
        max-width: 600px;

        font-size: 75px;
        line-height: 100%;
        color: $accent;

        animation-fill-mode: forwards;

        margin-bottom: 30px;

        @media (max-width:  $laptop){
            max-width: 476px;
            font-size: 60px;
        }

        @media (max-width: $mobileL){
            font-size: 35px;
        }

    }

    &__subtitle {
        font-size: 25px;
        line-height: 140%;
        color: $white;

        max-width: 430px;

        margin-bottom: 60px;

        @media (max-width:  $mobileL){
            font-size: 20px;
        }
    }
    &__control{

        padding: 0 30px;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &__control-container{
        max-width: 1216px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        position: relative;
        height: 100%;
    }
    &__control-buttons{
        padding: 86px 0;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 40px;
        z-index: 100;

        @media (max-width: $tablet){
            width: auto;
            padding: 0;
            right: 50%;
            top: auto;
            bottom: 52px;
            transform: translateX(50%) translateY(-50%);
        }
    }

    &__link{
        @media (max-width: $mobileL){
            width: 100%;
            max-width: none;
        }
    }


}
.slider-main__btn-prev, .slider-main__btn-next {

    @media (max-width: $tablet){
        display: none;
    }

    &:hover{
        cursor: pointer;
    }

}
.slider-main__btn-next{
    bottom: 0 ;
}

.slider-main__btn-prev{
    top: 0;
}

.swiper-button-disabled{
    opacity: 0.3;
}

.slider-main-pagination{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    @media (max-width: $tablet){
        flex-direction: row;
    }
    @media (max-width: $mobileL){
        display: none;
    }
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border: 1px solid $darkOrange;
    border-radius: 0;
    background: transparent;
    position: relative;
}
.swiper-pagination-bullet-active{
    &::before {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;   
        background-color: $accent;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}