.promo__grid
    article.card.promo__card
        
        .card__image-wrapper
            img(src="img/promo/promo_1.png" alt="")
        .card__content
            h3.card__title Пакет “Лето”
            .card__text.
                Самое жаркое лето века не хочет уходить и давит Вам новые краски до конца сезона.
                При покупке от 5500₽ Вы получите скидку 1% на абсолютно любой товар! Успей окрасить свою жизнь касками лета!
            button.btn.card__btn Скопировать промокод
    article.card.promo__card

        .card__image-wrapper
            img(src="img/promo/promo_2.png" alt="")
        .card__content    
            h3.card__title Пакет “Лето”
            .card__text.
                Самое жаркое лето века не хочет уходить и давит Вам новые краски до конца сезона.
                При покупке от 5500₽ Вы получите скидку 1% на абсолютно любой товар! Успей окрасить свою жизнь касками лета!
            button.btn.card__btn Скопировать промокод
    article.card.promo__card
        .card__image-wrapper
            img(src="img/promo/promo_3.png" alt="")
        .card__content
            h3.card__title Пакет “Лето”
            .card__text.
                Самое жаркое лето века не хочет уходить и давит Вам новые краски до конца сезона.
                При покупке от 5500₽ Вы получите скидку 1% на абсолютно любой товар! Успей окрасить свою жизнь касками лета!
            button.btn.card__btn Скопировать промокод
    article.card.promo__card
        .card__image-wrapper
            img(src="img/promo/promo_4.png" alt="")
        .card__content
            h3.card__title Пакет “Лето”
            .card__text.
                Самое жаркое лето века не хочет уходить и давит Вам новые краски до конца сезона.
                При покупке от 5500₽ Вы получите скидку 1% на абсолютно любой товар! Успей окрасить свою жизнь касками лета!
            button.btn.card__btn Скопировать промокод
    article.card.promo__card
        .card__image-wrapper
            img(src="img/promo/promo_5.png" alt="")
        .card__content
            h3.card__title Пакет “Лето”
            .card__text.
                Самое жаркое лето века не хочет уходить и давит Вам новые краски до конца сезона.
                При покупке от 5500₽ Вы получите скидку 1% на абсолютно любой товар! Успей окрасить свою жизнь касками лета!
            button.btn.card__btn Скопировать промокод
    article.card.promo__card
        .card__image-wrapper
            img(src="img/promo/promo_6.png" alt="")
        .card__content
            h3.card__title Пакет “Лето”
            .card__text.
                Самое жаркое лето века не хочет уходить и давит Вам новые краски до конца сезона.
                При покупке от 5500₽ Вы получите скидку 1% на абсолютно любой товар! Успей окрасить свою жизнь касками лета!
            button.btn.card__btn Скопировать промокод