
.add-seriveces__grid
    article.card.add-seriveces__card
        
        .card__image-wrapper
            picture
                source(srcset="img/services/service_1.webp" type="image/webp")
                img(src="img/services/service_1.png" alt="")
        .card__content
            h3.card__title Срочная отправка
            .card__text.
                Ваши покупки будут упакованы и отправлены в день оформления заказа. Как только заказ будет подтверждён звонком менеджера, наш сотрудник незамедлительно упакует и отправит ваш заказ. Воспользуйтесь данной услугой — это сэкономит вам 1 день ожидания. Данная Услуга особенно актуальна если заказ делается ближе к выходным дням.
            .card__cost Стоимость услуги: 250₽
            button.btn.card__btn Добавить к заказу
            
    article.card.add-seriveces__card
        .card__image-wrapper
            picture
                source(srcset="img/services/service_2.webp" type="image/webp")
                img(src="img/services/service_2.png" alt="")
        .card__content
            h3.card__title Почтовая гарантия
            .card__text.
                Дополнительная защита вашего отправления от случайного повреждения и порчи во время доставки. Если с вашими покупками что-то случилось во время доставки — что-то было повреждено, разбито или разлито — мы полностью компенсируем вам убытки. Почтовая гарантия — это ваша абсолютная уверенность, что заказ будет доставлен в целости и сохранности.
            .card__cost Стоимость услуги: 4% от суммы заказа
            button.btn.card__btn Добавить к заказу

    article.card.add-seriveces__card
        .card__image-wrapper
            picture
                source(srcset="img/services/service_3.webp" type="image/webp")
                img(src="img/services/service_3.png" alt="")
        .card__content
            h3.card__title Расширенная гарантия
            .card__text.
                Защитите свои покупки от потери и повреждения! При выборе расширенной почтовой гарантии, мы возмещаем вам полную стоимость приобретённого товара в случае полной утери посылки или повреждения товара в ходе транспортировки посылки почтой России или транспортной компанией. Кроме того, вы получаете нашу 2-х летнюю гарантию на весь товар из вашего заказа
            .card__cost Стоимость услуги: 10% от суммы заказа
            button.btn.card__btn Добавить к заказу
            
    article.card.add-seriveces__card
        .card__image-wrapper
            picture
                source(srcset="img/services/service_4.webp" type="image/webp")
                img(src="img/services/service_4.png" alt="")
        .card__content
            h3.card__title Подарочное оформление
            .card__text.
                Лучшее решение для подарка. Мы красиво упакуем ваш заказ, отправка будет осуществена курьерской компанией вам или иному адресату, на ваше усмотрение. Детали отправки согласовываются при звонке менеджера для подтверждения заказа.
            .card__cost Стоимость услуги: 500 ₽
            button.btn.card__btn Добавить к заказу

