extends pug/common/main

block variables
    -var title = 'Главная страница'
    -var headerClasses = ''
    -var currentPage = ''

block content
    main.main 
        .container
            .not-found
                .not-found__content
                    .not-found__title Ошибка 404!
                    .not-found__text Эта страница не найдена, мы уже работаем, чтобы ее восстановить!
                    .not-found__links
                        a(href="#").btn.btn_orange Вернуться на главную
                        a(href="#").not-found__link Вернуться в каталог
    include pug/common/footer
    script(src="js/app.min.js")
       

        