extends pug/common/main

block variables
    -var title = 'Главная страница'
    -var headerClasses = ''
    -var currentPage = ''

block content
    main.main
        section.brands-page
            .container
                .breadcrumbs
                    a.breadcrumbs__item(href="index.html") Главная
                    a.breadcrumbs__item(href="catalog.html") Бренды
                    a.breadcrumbs__item Kuro Sumi
                .brands-page__content
                    h2.title.brands-page__title Kuro Sumi
                    .brands-page__categories
                        button.btn.btn_cat Тату наборы
                        button.btn.btn_cat Тату машинки
                        button.btn.btn_cat Блоки питания
                        button.btn.btn_cat Клип-корды
                        button.btn.btn_cat Картриджи
                        button.btn.btn_cat Педали
                        button.btn.btn_cat Держатели
                        button.btn.btn_cat Иглы
                        button.btn.btn_cat Наконечники
                        button.btn.btn_cat Аксессуары
                        button.btn.btn_cat Защита и уход
                        button.btn.btn_cat Промо наборы

                    include pug/pages/brands/brands

    include pug/common/footer
    script(src="js/app.min.js")
       

        