extends pug/common/main

block variables
    -var title = 'Брэнды'
    -var headerClasses = ''
    -var currentPage = ''

block content
    main.main
        section.brands-page
            .container
                .breadcrumbs
                    a.breadcrumbs__item(href="index.html") Главная
                    a.breadcrumbs__item(href="catalog.html") Бренды
                    a.breadcrumbs__item Kuro Sumi
                .brands-page__content
                    h1.title.brands-page__title Kuro Sumi
                    .brands-page__categories.scroll-horizontal
                        button.brands-page__categories-btn Тату наборы
                        button.brands-page__categories-btn Тату машинки
                        button.brands-page__categories-btn Блоки питания
                        button.brands-page__categories-btn Клип-корды
                        button.brands-page__categories-btn Картриджи
                        button.brands-page__categories-btn Педали
                        button.brands-page__categories-btn Держатели
                        button.brands-page__categories-btn Иглы
                        button.brands-page__categories-btn Наконечники
                        button.brands-page__categories-btn Аксессуары
                        button.brands-page__categories-btn Защита и уход
                        button.brands-page__categories-btn Промо наборы

                    include pug/pages/brands/brands

    include pug/common/footer
    script(src="js/app.min.js")
       

        