extends pug/common/main

block variables
    -var title = 'Главная страница'
    -var headerClasses = ''
    -var currentPage = ''

block content
    main.main
        include pug/pages/index/hero
        include pug/pages/parts/products
        include pug/pages/index/catalog
        include pug/pages/index/banners
        include pug/pages/index/brands
        include pug/pages/index/about
        include pug/pages/index/reviews
        include pug/pages/index/form
    include pug/common/footer
    script(src="js/app.min.js")
       

        