extends pug/common/main

block variables
    -var title = 'Промокоды'
    -var headerClasses = ''
    -var currentPage = ''

block content
    main.main
        section.promo
            .container
                .breadcrumbs
                    a.breadcrumbs__item(href="index.html") Главная
                    a.breadcrumbs__item(href="#") Промокоды
                h2.title.promo__title Промокоды
            .container_mob-off
                .promo__content
                    include pug/pages/promo/promo

    include pug/common/footer
    script(src="js/app.min.js")
       

        