
html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;  
}

.main {
    flex-grow: 1;
}



.footer {
    padding-top: 23px;
    padding-bottom: 25px;
    
    width: 100%;

    
    color: $white;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $tablet){
        padding-top: 43px;
    }

    &__content{
        

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap-reverse;
        gap: 30px;
        
    }

    &__nav{
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0.03em;

        a{
            &:hover{
                color: $accent;
            }
        }

        @media (max-width: $tablet){

            .nav__ul{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}