
html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;  
}

.main {
    flex-grow: 1;
}



.footer {
    padding: 130px 0 ;
    
    width: 100%;

    
    color: $white;
    background-color: $black;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $tablet){
        padding-top: 43px;
    }

    &__content{

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__link{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 133.5%;
    }

    .logo{
        margin-bottom: 50px;
    }
}