body {
    font-family: Jost, Arial, sans-serif;
    color: $dark;
    background-color: $background;
    font-size: 17px;
    line-height: 140%;
    font-weight: 400;
    
    &.lock{
        overflow: hidden;

        .main{
            z-index: 0;
        }
    }
}
.main{
    z-index: 1;
    background-color: $background;
    overflow: hidden;
}
.blur{

    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(0px);
    transition: backdrop-filter 1s;
    pointer-events: none;

    &_active{
        backdrop-filter: blur(6px);
        pointer-events: all;
    }
}

.title, .subtitle {
    font-weight: 60;
    color: $dark;
}

.title{
    font-size: 60px;
    line-height: 100%;

    @media (max-width: $tablet){
        font-size: 50px;
    }
    @media (max-width: $mobileL){
        font-size: 25px;
    }

    &_center{
        text-align: center;
    }
}

.subtitle {
    font-size: 21px;
    line-height: 44;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 15px;

}
.text {
    font-size: 16;
    line-height: 20;

    @media (max-width: $tablet){
        font-size: 12;
        line-height: 18;
    }
}

.cover{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.fill{
    object-fit: fill;
    width: 100%;
    height: 100%;
}

*:focus, *:focus-visible{
/*     outline: 1px solid #fff;*/
    outline-offset: 5px; 
}

.laptop-hidden{
    @media (max-width: $laptop){
        display: none;
    }
}

.mobile-hidden{
    @media (max-width: $mobileL){
        display: none;
    }
}

.tablet-hidden{
    @media (max-width: $tablet){
        display: none;
    }
}

.address{
    font-style: normal;
    font-size: 15px;
    line-height: 150%;

    display: flex;
    flex-direction: column;
    gap: 20px;

    &_header{
        gap: 5px;
    }
    
    @media (max-width: 539px){
        width: auto;
        margin-left: auto;
        flex-direction: column;
    }

    &__social{
        display: flex;
        gap: 12px;
    }

    &__soc-link{
        font-size: 12px;
        line-height: 150%;
        display: block;

        &_icon-telegram,&_icon-watsapp,&_icon-viber{
            width: 40px;
            height: 40px;
        }
        &_icon-telegram{
            background-image: url(../img/svg/social/telegram.svg);
        }
        &_icon-watsapp{
            background-image: url(../img/svg/social/whatsapp.svg);
        }
        &_icon-viber{
            background-image: url(../img/svg/social/viber.svg);
        }
    }

    &__time {
        color: $grey2;
        margin-bottom: 10px;
    }

    &__row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}
.btn{
    padding: 18px;
    display: inline-block;
    color: $accent;
    background-color: #EEEEEE;
    border: $accent 2px solid;
    max-width: 275px;
    width: 100%;

    font-size: 20px;
    line-height: 150%;
    
    text-align: center;
    letter-spacing: 0.05em;

    position: relative;
    z-index: 1;

    transition: background-color .3s, color .3s;

    &:hover{
        cursor: pointer;
        background-color: $accent;
        color: $white;

        .btn__dec-left, .btn__dec-right{
            &::after {
                border-left-color: $accent;
            }
        }

    }

    &:active{
        background-color: $darkOrange;
        transform: scale(0.97);

        .btn__dec-left, .btn__dec-right{
            &::after {
                border-left-color: $darkOrange;
            }
        }
        
    }

    @media (max-width: $mobileL){
        min-width: fit-content;
    }

    &_cat{
        min-width: auto;
        padding: 14px 24px;
        background-color: $bgCard;
        font-size: 20px;
        line-height: 100%;
        width: auto;
    }

    &_orange{
        background-color: $darkOrange;
        color: $white;

        &:hover{
            color: $white;
        }

        .btn__dec-left, .btn__dec-right{
            &::after{
                border-left-color: $darkOrange;
            }
        }
    }

    &_center{
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        &:active{
            transform: translateX(-50%) scale(0.97);
            
        }

        
    }

    &_form-sec{
        @media (max-width: 539px){
            margin: 0 auto;
        }
    }

    &.w-100{
        width: 100%;

        &:hover{
            
        }
    }

    &__dec-left, &__dec-right{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        display: block;
    
    
        &::before, &::after  {
            content: "";
            position: absolute;
    
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-right: 0;
            transition: border .3s;
        }
        &::before {
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 20px solid $accent;
            left: 1px;
        }
        &::after {
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 16px solid $background;
            top: 50%;
            transform: translateY(-50%);
            right: 1px;
        }
    }
    &__dec-left{
        left: -19px;
        transform: rotate(180deg) translateY(50%);
    }
    &__dec-right{
        right: -19px;
    }

    &_code{
        font-size: 20px;
        line-height: 150%;
        color: $accent;
        margin: 0 auto;
    }
}
.btn-cart,
.btn-favorite,
.btn-account{
    width: 28px;
    height: 28px;

    color: $white;
    line-height: 150%;
    font-size: 15px;
            
    display: flex;
    align-items: flex-end;

    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 28px;
        height: 28px;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: center;
    }
}
.btn-cart{
    white-space: pre;
    width: auto;
    padding-right: 36px;
    position: relative;

    &::before {
        left: auto;
        right: 0;
        background-image: url('../img/svg/icons/union.svg');
    }

   &__count{
        width: 24px;
        height: 21px;
        position: absolute;
        top: -8px;
        right: -12px;

        background-color: $accent;
        font-size: 14px;
   }

}
.btn-favorite{
    &::before {
        background-image: url('../img/svg/icons/favorite.svg');
    }
    @media (max-width: $mobileL){
        display: none;
    }
}
.btn-account{
    &::before {
        background-image: url('../img/svg/icons/account.svg');
    }
    @media (max-width: $mobileL){
        display: none;
    }
}

.btn-underline{
    margin: 0 auto;
    position: relative;
    color: #bb8c5f;
    font-size: 20px;
    line-height: 150%;
    display: flex;
    align-items: center;
    height: fit-content;

    @media (max-width: $mobileL){
        font-size: 15px;
    }

    &_edit{
        margin: 0;
        margin-left: auto;
        left: -7px;
        grid-column: span 2;
    }

    &_p-top_15{
        padding-top: 15px;
    }
}

.favourite-cb{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 28px;
    height: 28px;

    display: flex;
    justify-content: center;
    align-items: center;

    .favourite-inner{
        transition: .3s;
    }
    .favourite-outline{
        transition: .3s;
    }

    &:hover {
        .favourite-inner{
            fill: $accent;
        }
        .favourite-outline{
            fill: transparent;
        }
    }
}

.label-new{
    position: absolute;
    top: 30px;
    left: 30px;

    width: 150px;
    height: 29px;

    background-image: url('../img/svg/icons/new.svg');
    background-repeat: no-repeat;
}
.label-promo{
    position: absolute;
    top: 70px;
    left: 30px;

    width: 150px;
    height: 29px;

    background-image: url('../img/svg/icons/promo.svg');
    background-repeat: no-repeat;
}



.dec-line{
    border-bottom: 1px solid $grey;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: -6px;
        left:  0;
        width: 0;
        height: 0;
        border-style: solid;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 8px solid $grey;
        border-right: 0;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: -6px;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 8px solid $grey;
        border-left: 0;
    }

    &__button{
        width: 100%;
        border-bottom: 1px solid $accent;
        display: block;

        position: absolute;
        bottom: 0;
        left: 0;
        
        &::before {
            border-left: 8px solid $accent;
            
        }
        &::after {
            border-right: 8px solid $accent;
            
        }

        &_switchable{

            opacity: 0;
            transition: .3s;
            transform: scaleX(0);

            .active &{
                opacity: 1;
                transform: scaleX(1);
            }
        }


        
    }
    &_square{
        padding-top: 2px ;

        &::before,&::after {
            border: 0;
            width: 8px;
            height: 8px;
            bottom: -4px;
            background-color: $accent;
            transform: rotate(45deg);
        }


        &-small{
            &::before,&::after  {
                border: 0;
                width: 4px;
                height: 4px ;
                bottom: -2px;
                transform: rotate(45deg);
            }
        }
    }
}
.dec-underline{
    position: absolute;
    border-bottom: 1px solid $accent;
    width: 100%;
    left: 0;
    bottom: 0px;

    &::before {
        content: "";
        position: absolute;
        
        bottom: -3px;
        left:  -5px;
        width: 5px;
        height: 5px;
        background: $accent;
        transform: rotate(45deg);
        
        
    }
    &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        right:  -5px;
        width: 5px;
        height: 5px;
        background: $accent;
        transform: rotate(45deg);
    }
}

a{
    transition: color .3s;

    &:hover{
        color: $accent;
    }
}
  
.social{
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__li{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon{
        display: block;
    }

    @media (max-width: 539px){
        flex-direction: row;
    }
}

.copy{
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0.5;
    letter-spacing: 0.05em;
    line-height: 140%;
}

.slider-button{

    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);

    &:hover{
        cursor: pointer;
    }

    &_prev{
        left: 0;
    }
    
    &_next{
        right: 0;
    }
}

.btn-arrow{
    position: absolute;

    width: 50px;
    height: 50px;

    border: 1px solid $accent;
    background-color: $background;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 10px solid $accent;
        border-left: 0;
    }

    &_left{
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-60%, -50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 10px solid $accent;
            border-left: 0;
        }

    }
    &_right{
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-20%, -50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 10px solid $accent;
            border-right: 0;
        }

    }
    &_top{
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -60%);
            width: 0;
            height: 0;
            border-style: solid;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
            border-bottom: 10px solid $accent;
            border-top: 0;
        }

    }
    &_bottom{
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-60%, -50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
            border-top: 10px solid $accent;
            border-bottom: 0;
        }

    }

    
}
.to-top {
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 74%;
    transform: translateX(-50%);

    background-color: $background;
    color: $accent;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    &__btn{
        width: 50px;
        height: 50px;
    }

    @media (max-width: $laptop){
        display: none;
    }
}

.status{
    position: relative;
    color: $grey2;
    padding-left: 20px;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #C91B1B;   
    }

    &_active{
        &::before {
            content: "";
            background-color: #32df2d;   
        }
    }


}

.card3d {
    perspective: 500px;
    width: 300px;

    background-color: transparent;

}
.card3d-wrapper{
    width: 100%;
}

.product-slider__title{
    margin-bottom: 40px;
}