header(class='header ' + headerClasses)
    .blur
    .container
        .header__content(data-aos="fade-in")
            .header__content-row.header__content-row_dec.header__top
                address.address.address_header
                    .address__row
                        a.contact-phone(href="tel:79525525252") +7 952 552-52-52
                        a.contact-mail(href="mailto:Mr.Driskell@mail.ru") Mr.Driskell@mail.ru
                    .address__row
                        a.address__soc-link(href="#") Viber 
                        a.address__soc-link(href="#") Whats App 
                        a.address__soc-link(href="#") Telegram 
                include ../pages/parts/logo
                .header__buttons
                    button.btn-cart 37 280 ₽
                        span.btn-cart__count 17
                    button.btn-favorite 
                    button.btn-account 

            .header__content-row
                +burg('#mobile-menu','burger', 'Меню')(class="header-burg")
                button.btn-catalog(data-target=".header__catalog")
                    span.btn-catalog__content Каталог
                    span.btn-catalog__icon 
                form.form.form_search.form_search-header(action="#")
                    input.form__input.form__input_header(placeholder="Поиск")
                .header__buttons.header__buttons_mobile
                    button.btn-cart 37 280 ₽
                        span.btn-cart__count 17
                    button.btn-favorite 
                    button.btn-account 

                +nav(
                    [
                        {link:'promo.html', content:'Промокоды'},
                        {link:'catalog.html', content:'Скидки'},
                        {link:'help.html', content:'Помощь'},
                        {link:'404.html', content:'О нас'},
                        {link:'contacts.html', content:'Контакты'}
                    ], 'headNav', currentPage)(class="header__nav")

            
            .header__catalog
                .container
                    .header__catalog-wrapper
                        .tabs.header__tabs
                            .tabs__buttons
                                button.tabs__button(data-target="#tab1") По категории
                                    span.dec-line.dec-line__button.dec-line__button_switchable.dec-line_square.dec-line_square-small
                                button.tabs__button(data-target="#tab2") По брендам
                                    span.dec-line.dec-line__button.dec-line__button_switchable.dec-line_square.dec-line_square-small
                            .dec-line
                            .tabs__content.tabs__content_active#tab1
                                ul.header__catalog-list
                                    li.header__catalog-list-item
                                        a(href="catalog.html") Новинки 
                                    li.header__catalog-list-item
                                        a(href="catalog.html") Наборы для татуировок
                                    li.header__catalog-list-item
                                        a(href="catalog.html") Тату машинки
                                    li.header__catalog-list-item
                                        a(href="catalog.html") Тату краски
                                    li.header__catalog-list-item
                                        a(href="catalog.html") Тату иглы
                                    li.header__catalog-list-item
                                        a(href="catalog.html") Тату держатели
                                ul.header__catalog-list
                                    li.header__catalog-list-item
                                        a(href="catalog.html") Тату наконечники 
                                    li.header__catalog-list-item
                                        a(href="catalog.html") Блоки питания
                                    li.header__catalog-list-item
                                        a(href="catalog.html") Педали и провода
                                    li.header__catalog-list-item
                                        a(href="catalog.html") Аксессуары
                                    li.header__catalog-list-item
                                        a(href="catalog.html") Принтеры и планшеты
                                    li.header__catalog-list-item
                                        a(href="catalog.html") Защита, ёмкости, расходные материалы
                            .tabs__content#tab2
                                ul.header__catalog-list
                                    li.header__catalog-list-item
                                        a(href="brands.html") Aliance
                                    li.header__catalog-list-item
                                        a(href="brands.html") Aloe Tattoo
                                    li.header__catalog-list-item
                                        a(href="brands.html") Anchored by Nikko Hurtado
                                    li.header__catalog-list-item
                                        a(href="brands.html") BC Invention Comrany
                                    li.header__catalog-list-item
                                        a(href="brands.html") Beauty Bit
                                    li.header__catalog-list-item
                                        a(href="brands.html") Bishop Rotary
                                    li.header__catalog-list-item
                                        a(href="brands.html") Burlak Tattoo Machines
                                    li.header__catalog-list-item
                                        a(href="brands.html") Cheyenne HAWK
                                    li.header__catalog-list-item
                                        a(href="brands.html") Critical Tattoo
                                    li.header__catalog-list-item
                                        a(href="brands.html") Dermalize Protective
                                    li.header__catalog-list-item
                                        a(href="brands.html") Dynamic Colors
                                ul.header__catalog-list
                                    li.header__catalog-list-item
                                        a(href="brands.html") EGO Bez’s Rotary
                                    li.header__catalog-list-item
                                        a(href="brands.html") Eikon Device Inc.
                                    li.header__catalog-list-item
                                        a(href="brands.html") Electrum
                                    li.header__catalog-list-item
                                        a(href="brands.html") EQUALISER by Kwadron
                                    li.header__catalog-list-item
                                        a(href="brands.html") Eternal
                                    li.header__catalog-list-item
                                        a(href="brands.html") Excalibur
                                    li.header__catalog-list-item
                                        a(href="brands.html") Fantasia Art Supply
                                    li.header__catalog-list-item
                                        a(href="brands.html") FKirons
                                    li.header__catalog-list-item
                                        a(href="brands.html") Hanafy
                                    li.header__catalog-list-item
                                        a(href="brands.html") HM Tattoo Machines
                                    li.header__catalog-list-item
                                        a(href="brands.html") Ink Machines 
                                ul.header__catalog-list
                                    li.header__catalog-list-item
                                        a(href="brands.html") InkJecta Tattoo Machine
                                    li.header__catalog-list-item
                                        a(href="brands.html") Intenze
                                    li.header__catalog-list-item
                                        a(href="brands.html") JACK & ALEXX
                                    li.header__catalog-list-item
                                        a(href="brands.html") Kashalot Rotary
                                    li.header__catalog-list-item
                                        a(href="brands.html") Kuro Sumi
                                    li.header__catalog-list-item
                                        a(href="brands.html") KWADRON™
                                    li.header__catalog-list-item
                                        a(href="brands.html") Lauro Paolini
                                    li.header__catalog-list-item
                                        a(href="brands.html") Lithuanian Irons
                                    li.header__catalog-list-item
                                        a(href="brands.html") Lucky Supply
                                    li.header__catalog-list-item
                                        a(href="brands.html") Mercator Medical
                                    li.header__catalog-list-item
                                        a(href="brands.html") Millenium Mom’s Ink
                                ul.header__catalog-list
                                    li.header__catalog-list-item
                                        a(href="brands.html") NEMESIS
                                    li.header__catalog-list-item
                                        a(href="brands.html") Nocturnal Tattoo Ink
                                    li.header__catalog-list-item
                                        a(href="brands.html") Panthera
                                    li.header__catalog-list-item
                                        a(href="brands.html") Perma Blend
                                    li.header__catalog-list-item
                                        a(href="brands.html") Precision Needles
                                    li.header__catalog-list-item
                                        a(href="brands.html") Precision Tattoo Supply
                                    li.header__catalog-list-item
                                        a(href="brands.html") Premier Products
                                    li.header__catalog-list-item
                                        a(href="brands.html") Radiant
                                    li.header__catalog-list-item
                                        a(href="brands.html") Reprofx® Spirit™
                                    li.header__catalog-list-item
                                        a(href="brands.html") Right Stuuf
                                    li.header__catalog-list-item
                                        a(href="brands.html") S8TATTOO
                                ul.header__catalog-list
                                    li.header__catalog-list-item
                                        a(href="brands.html") Skinductor
                                    li.header__catalog-list-item
                                        a(href="brands.html") Starbrite
                                    li.header__catalog-list-item
                                        a(href="brands.html") Tattoorevive
                                    li.header__catalog-list-item
                                        a(href="brands.html") TURANIUM Fabrika Rotary
                                    li.header__catalog-list-item
                                        a(href="brands.html") UNI–CART
                                    li.header__catalog-list-item
                                        a(href="brands.html") Vlad Blad
                                    li.header__catalog-list-item
                                        a(href="brands.html") World Famous Bala
                                    li.header__catalog-list-item
                                        a(href="brands.html") World Famous Tattoo Ink
                                    li.header__catalog-list-item
                                        a(href="brands.html") 2K2BT
                                    li.header__catalog-list-item
                                        a(href="brands.html") БРОВИ
                                    li.header__catalog-list-item
                                        a(href="brands.html") КРАСКА Tattoo Ink
    
    .mobile-menu.header__mobile-menu#mobile-menu
        .mobile-menu__wrapper
            +nav(
                [
                    {link:'#', content: {name:'Каталог', list:[
                        {link:'catalog.html', content:'Новинки'},
                        {link:'catalog.html', content:'Наборы для татуировок'},
                        {link:'catalog.html', content:'Тату машинки'},
                        {link:'catalog.html', content:'Тату краски'},
                        {link:'catalog.html', content:'Тату иглы'},
                        {link:'catalog.html', content:'Тату держатели'},
                        {link:'catalog.html', content:'Тату наконечники'},
                        {link:'catalog.html', content:'Блоки питания'},
                        {link:'catalog.html', content:'Педали и провода'},
                        {link:'catalog.html', content:'Аксессуары'},
                        {link:'catalog.html', content:'Принтеры и планшеты'},
                        {link:'catalog.html', content:'Защита, ёмкости, расходн…'}
                    ]
                    }},
                    {link:'contacts.html', content:'Контакты'},
                    {link:'promo.html', content:'Промокоды'},
                    {link:'catalog.html', content:'Скидки'},
                    {link:'help.html', content:'Помощь'},
                    {link:'404.html', content:'О нас'},
                    {link:'404.html', content:'Избранное'},
                    {link:'account.html', content:'Личный кабинет'}
                ], 'mobile_nav', currentPage)(class="nav_mobile root-nav")

            form.form.form_search.form_search-mobile(action="#")
                input.form__input.form__input_search(placeholder="Поиск")

            address.address
                .address__row
                    a.contact-phone(href="tel:79525525252") +7 952 552-52-52
                .address__row
                    a.address__soc-link.address__soc-link_icon-telegram(href="#")
                    a.address__soc-link.address__soc-link_icon-watsapp(href="#")
                    a.address__soc-link.address__soc-link_icon-viber(href="#") 
                .address__row
                    .address__time Время работы: с 9:00 до 20:00 по мск
                .address__row
                    a.contact-mail(href="mailto:Mr.Driskell@mail.ru") Mr.Driskell@mail.ru