section.help
    .container
        .help__content
            h2.help__title Основные инструменты для художественной татуировки
            .help__text.
                Итак, вы решили заняться набивкой художественной татуировки. Дикие методы, вроде струны и пасты из ручки вы, как разумный человек, не рассматриваете, и осознаете, что вам потребуется какой-то минимальный набор оборудования. Что в нем должно быть? Этим задаются все начинающие тату-мастера на заре своей деятельности. Попробуем помочь.
            article.article
                .article__content
                    h3.article__title Содержание статьи
                    .article__text-block.article__text-block_pl_40.article__text-block_mb_70
                        .vertical-dec
                        a.article__link-bold-big(href="#") Что такое тату-машинка 
                        a.article__link-bold(href="#") Индукционная тату-машинка — конструкция, принцип работы
                            ul.article__list
                                li
                                    a.article__link(href="#") Контурная
                                li
                                    a.article__link(href="#") Машнка для закраски
                        a.article__link-bold(href="#") Роторная тату-машинка — конструкция, принцип работы
                        a.article__link-bold(href="#") Производители тату-машинок — почему они дороже других
                            ul.article__list
                                li
                                    a.article__link(href="#") Тату-машинки для начинающих
                                li
                                    a.article__link(href="#") Тату машинки от билдеров
                                li
                                    a.article__link(href="#") Тату машинки для профессионалов
                                    

                        a.article__link-bold-big(href="#") Тату держатели
                        a.rticle__link-bold(href="#") Многоразовые и одноразовые тату держатели
                            ul.article__list
                                li
                                    a.article__link(href="#") Многоразовые держатели — что и как
                                li
                                    a.article__link(href="#") Одноразовые держатели — что и как
                        a.rticle__link-bold(href="#") Держатели под картриджи и под иглы
                            ul.article__list
                                li
                                    a.article__link(href="#") Тату-держатели под классические иглы
                                li
                                    a.article__link(href="#") Тату-держатели под картриджи


                        a.article__link-bold-big(href="#") Тату наконечники
                        a.rticle__link-bold(href="#") Виды тату наконечников
                            ul.article__list
                                li
                                    a.article__link(href="#") Одноразовые тату-наконечники
                                li
                                    a.article__link(href="#") Многоразовые тату-наконечники
                        a.rticle__link-bold(href="#") Как подобратиь тату-наконечник

            article.article
                .article__content
                    h3.article__title Что такое тату-машинка
                    .article__text-block
                        p.
                            Основной инструмент тату-мастера, с которого, как правило, начинают комплектовать свой первый набор тату-оборудования. Не будем менять этот стереотип, и расскажем о машинках.
                        p.
                            Машинки, по принципу работы, делятся на индукционные и роторные. Индукционные, в свою очередь, делятся на лайнеры и шейдеры.
                        p.
                            Тату-машинка — электрическое устройство приводящее в движение тату-иглу. Независимо от типа, к тату-машинке предъявляются следующие требования:
                        ul 
                            li малый вес — лёгкой машинкой удобнее работать;
                            li минимум вибраций — такой машинкой проще делать точные рисунки;
                            li мощность — прокалывать кожу с частотой несколько десятков ударов в секунду не так-то просто;
                            li качественная сборка — тату-машшинки подвергаются немалым нагрузкам, и должны их переносить продолжительное время; 
                            li надёжность — под этим следует понимать не только склонность той или иной модели к поломкам, а возможность работать длительное время без перегрева и проседания характеристик;
                            li красивый внешний вид — это не столь маловажно, как кажется.
                        p.
                            Если вам не чужда механика и вы понимаете принципы работы несложных механизмов, то видите, что требования весьма противоречивы. Обеспечить минимум вибраций и максимум мощности проще на устройстве с большей массой — но работать тяжёлой машинкой не так-то просто. Сюда же можно отнести и качество сборки, и конструкции в целом — вибрация оказывает разрушающее воздействие на все элементы устройства. Найти тот баланс, который понравится большинству тату-мастеров — и есть искусство производителя. Найти те модели, которыми легко, удобно и комфортно работать — задача тату-мастера.

                    .article__image-wrapper
                        img.article__image(src="img/article/article_1.jpg", alt="Тату машинка" width="598" height="420")









